<%- @section = "downloads" %>
<%- @subsection = "" %>
<%- @page_title = "Git - Downloading Package" %>

<% content_for :sidebar do %>
  <%= render 'shared/book' %>
<% end %>

<div id="main">
  <h1>Download for macOS</h1>

  <p>There are several options for installing Git on macOS. Note that
  any non-source distributions are provided by third parties, and may
  not be up to date with the latest source release.</p>

  <p><b>Choose one of the following options for installing Git on macOS:</b></p>

  <h3>Homebrew</h3>
  <p>Install <a href="https://brew.sh/">homebrew</a> if you don't already have it, then:<br>
  <code>$ brew install git</code></p>

  <h3>MacPorts</h3>
  <p>Install <a href="https://www.macports.org">MacPorts</a> if you don't already have it, then:<br>
  <code>$ sudo port install git</code></p>

  <h3>Xcode</h3>
  <p>Apple ships a binary package of Git with <a href="https://developer.apple.com/xcode/">Xcode</a>.</p>

  <h3>Binary installer</h3>
  <p>Tim Harper provides an <a href="https://sourceforge.net/projects/git-osx-installer/">installer</a>
  for Git. The latest version is <%= link_to @download.version.name, @download.url %>,
  which was released <%= time_ago_in_words @download.release_date %> ago, on
  <%= @download.release_date.strftime("%Y-%m-%d") %>.

  <h3>Building from Source</h3>
  <p>If you prefer to build from source, you can find tarballs
  <%= link_to "on kernel.org", "https://www.kernel.org/pub/software/scm/git/" %>.
  The latest version is
  <%= link_to @latest.name, "https://www.kernel.org/pub/software/scm/git/git-#{@latest.name}.tar.gz"%>.
    
  <h3>Installing git-gui</h3>
  <p>If you would like to install <a href="https://git-scm.com/docs/git-gui/">git-gui</a> and <a href="https://git-scm.com/docs/gitk/">gitk</a>,
  git's commit GUI and interactive history browser, you can do so using <a href="https://brew.sh/">homebrew</a><br>

  <code>$ brew install git-gui</code></p>
  
</div>
