<%- @section = "downloads" %>
<%- @subsection = "" %>
<%- @page_title = "Git - Downloading Package" %>

<% content_for :sidebar do %>
  <%= render 'shared/book' %>
<% end %>

<div id="main">
  <h1>Downloading Git</h1>
  <div class="callout downloading">
    <h3>Your download is starting...</h3>
    <p>
      <%= raw "You are downloading version <strong>#{@download.version.name}</strong> of Git for the <strong>#{@platform.capitalize}</strong> platform. This is the most recent <a href='#{@project_url}'>maintained build</a> for this platform. It was released <strong>#{time_ago_in_words @download.release_date} ago</strong>, on #{@download.release_date.strftime("%Y-%m-%d")}." %>
    </p>
    <p>
      <%= raw "<strong>If your download hasn't started, <a href=\"#{@download.url}\">click here to download manually</a>.</strong>" %>
    </p>
    <p class="small">
      <%= raw "The current source code release is version <strong>#{@latest.name}</strong>. If you want the newer version, you can build it from <a href=\"#{@source_url}\">the source code</a>." %>
    </p>
  </div>
  <iframe frameborder="0" height="1" src="<%= @download.url %>" width="1"></iframe>
  <h2>Now What?</h2>
  <p>
    Now that you have downloaded Git, it's time to start using it.
  </p>
  <ul id="download-next-steps">
    <li>
      <a href="/book">
      <img src="/images/icons/nav-read-book.png" />
      <h3>Read the Book</h3>
      <p>Dive into the Pro Git book and learn at your own pace.</p>
      </a>
    </li>
    <li>
      <a href="/downloads/guis">
      <img src="/images/icons/nav-download-gui.png" />
      <h3>Download a GUI</h3>
      <p><%= raw "Several free and commercial GUI tools are available for the #{@platform.capitalize} platform." %></p>
      </a>
    </li>
    <li>
      <a href="/community">
      <img src="/images/icons/nav-get-involved.png" />
      <h3>Get Involved</h3>
      <p>A knowledgeable Git community is available to answer your questions.</p>
      </a>
    </li>
  </ul>
</div>

