- @section = "downloads"
- @subsection = ""
- @page_title = t(".page_title")

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 #{t(".main_h1")}

  %div.callout.downloading
    %h3 #{t(".callout_h3")}

    %p #{t(".callout_p1_html", download_version_name: @download.version.name, platform_capitalized: @platform.capitalize, project_url: @project_url, released_time_ago: time_ago_in_words(@download.release_date), download_release_date: @download.release_date.strftime("%Y-%m-%d"))}

    %p #{t(".callout_p2_html", download_url: @download.url)}

    %p.small #{t(".callout_p3_html", latest_name: @latest.name, source_url: @source_url)}

  %iframe{:width => 1, :height => 1, :frameborder => 0, :src => @download.url}

  %h2 #{t(".now_what")}

  %p
    #{t(".now_what_p1")}

  %ul#download-next-steps
    %li
      <a href="/book">
      <img src="/images/icons/nav-read-book.png" />
      <h3>#{t(".next_steps_li_1_h3")}</h3>
      <p>#{t(".next_steps_li_1_p1")}</p>
      </a>
    %li
      <a href="/downloads/guis">
      <img src="/images/icons/nav-download-gui.png" />
      <h3>#{t(".next_steps_li_2_h3")}</h3>
      <p>#{t(".next_steps_li_2_p1", platform_capitalized: @platform.capitalize)}</p>
      </a>
    %li
      <a href="/community">
      <img src="/images/icons/nav-get-involved.png" />
      <h3>#{t(".next_steps_li_3_h3")}</h3>
      <p>#{t(".next_steps_li_3_p1")}</p>
      </a>
