- @section = "downloads"
- @subsection = ""
- @page_title = "Git - Downloading Package"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 Downloading Git

  %div.callout.downloading
    %h3 Your download is starting...

    %p=raw "You are downloading the latest (<strong>#{@download.version.name}</strong>) <strong>#{@bitness}</strong> version of <strong>Git for Windows</strong>. This is the most recent <a href='#{@project_url}'>maintained build</a>. It was released <strong>#{time_ago_in_words @download.release_date} ago</strong>, on #{@download.release_date.strftime("%Y-%m-%d")}."

    %p=raw "<strong>If your download hasn't started, <a href=\"#{@download.url}\">click here to download manually</a>.</strong>"

    %h3 Other Git for Windows downloads

    %h4 Git for Windows Setup

    %p=raw "<strong><a href=\"#{@download32.url}\">32-bit Git for Windows Setup</a>.</strong>"

    %p=raw "<strong><a href=\"#{@download64.url}\">64-bit Git for Windows Setup</a>.</strong>"

    %h4 Git for Windows Portable ("thumbdrive edition")

    %p=raw "<strong><a href=\"#{@download32portable.url}\">32-bit Git for Windows Portable</a>.</strong>"

    %p=raw "<strong><a href=\"#{@download64portable.url}\">64-bit Git for Windows Portable</a>.</strong>"

    %p.small=raw "The current source code release is version <strong>#{@latest.name}</strong>. If you want the newer version, you can build it from <a href=\"#{@source_url}\">the source code</a>."

    %iframe{:width => 1, :height => 1, :frameborder => 0, :src => @download.url}

  %h2 Now What?

  %p
    Now that you have downloaded Git, it's time to start using it.

  %ul#download-next-steps
    %li
      <a href="/book">
      <img src="/images/icons/nav-read-book.png" />
      <h3>Read the Book</h3>
      <p>Dive into the Pro Git book and learn at your own pace.</p>
      </a>
    %li
      <a href="/downloads/guis">
      <img src="/images/icons/nav-download-gui.png" />
      <h3>Download a GUI</h3>
      <p>Several free and commercial GUI tools are available for the #{@platform.capitalize} platform.</p>
      </a>
    %li
      <a href="/community">
      <img src="/images/icons/nav-get-involved.png" />
      <h3>Get Involved</h3>
      <p>A knowledgeable Git community is available to answer your questions.</p>
      </a>

