<div id="main">
  <div class="two-column">
    <div class="column-left">

      <h1>Downloading Git</h1>


      <p>You are downloading version <strong><%= @download.version.name %></strong> of
      Git for the <strong><%= @platform.capitalize %> platform</strong>,
      which is the most recent maintained build for this platform.
      It was released on <%= @download.version.committed.strftime("%Y-%m-%d") %>,
      <strong><%= time_ago_in_words @download.version.committed %> ago</strong>.
      </p>

      <p>
      The current source code release is <strong><%= @latest.name %></strong>.
      If you want the newer version, you can build it from <a href="https://github.com/git/git">the source code</a>.</p>

    </div>
    <div class="column-right">
      <div class="monitor <%= @platform %>">

        <h4>Your download is starting...</h4>
        <iframe width="1" height="1" frameborder="0" src="<%= @dl_link %>"></iframe>

        <p>&nbsp;</p>
        
        <em>If it does not, <a id="download-link" href="<%= @dl_link %>">click here</a> to download manually</em>

      </div>
    </div>
  </div>

  <h2>Getting Started with Git</h2>
  <p>
    Now that you have downloaded Git, here are some ways to get started using it.
    <ul>
      <li>Read <a href="/book">the book</a>
    </ul>
  </p>

  <h2>Get a GUI</h2>

  <p>If you prefer using a graphical interface, you can try one that is
  freely available for this platform:</p>

  <% if @platform == 'mac' %>
    <div class="two-column">
      <div class="column-left">
        <ul class="gui-thumbnails"><li>
          <%= link_to(image_tag('guis/github-for-mac.png'), "http://mac.github.com/") %>
          <h4>GitHub for Mac</h4>
        </li></ul>
      </div>
      <div class="column-right">
        <ul class="gui-thumbnails"><li>
          <%= link_to(image_tag('guis/sourcetree.png'), "http://www.sourcetreeapp.com/") %>
          <h4>SourceTree</h4>
        </li></ul>
      </div>
    </div>
  <% else %>
    <div class="two-column">
      <div class="column-left">
        <ul class="gui-thumbnails"><li>
          <%= link_to(image_tag('guis/git-extensions.png'), "http://code.google.com/p/gitextensions/") %>
          <h4>Git Extensions</h4>
        </li></ul>
      </div>
      <div class="column-right">
        <ul class="gui-thumbnails"><li>
          <%= link_to(image_tag('guis/git-cola.png'), "http://git-cola.github.com/") %>
          <h4>Git Cola</h4>
        </li></ul>
      </div>
    </div>
  <% end %>

  <br/>

  <p>Other graphical clients are available on our <a href="/downloads/guis">GUI Download</a> page</p>

</div>
