- @section = "downloads"
- @subsection = ""

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Downloading Git

  %div.callout.downloading
    %h3 Your download is starting...
    %iframe{:width => 1, :height => 1, :frameborder => 0, :src => @download.url}

    %p=raw "You are downloading version <strong>#{@download.version.name}</strong> of Git for the <strong>#{@platform.capitalize}</strong> platform. This is the most recent maintained build for this platform. It was released <strong>#{time_ago_in_words @download.version.committed} ago</strong>, on #{@download.version.committed.strftime("%Y-%m-%d")}."

    %p=raw "<strong>If your download hasn't started, <a href=\"#{@download.url}\">click here to download manually</a>.</strong>"

    %p.small=raw "The current source code release is version <strong>#{@latest.name}</strong>. If you want the newer version, you can build it from <a href=\"https://github.com/git/git\">the source code</a>."


  %h2 Now What?

  %p
    Now that you have downloaded Git, it's time to start using it.

  %ul#download-next-steps
    %li
      <a href="/documentation/book">
      <img src="/images/icons/nav-read-book.png" />
      <h3>Read the Book</h3>
      <p>Dive into the Pro Git book and learn at your own pace.</p>
      </a>
    %li
      <a href="/downloads/guis">
      <img src="/images/icons/nav-download-gui.png" />
      <h3>Download a GUI</h3>
      <p>Several free and commercial GUI tools are available for the Mac platform.</p>
      </a>
    %li
      <a href="/community">
      <img src="/images/icons/nav-get-involved.png" />
      <h3>Get Involved</h3>
      <p>A knowledgeable Git community is available to answer your questions.</p>
      </a>

