- @section = "downloads"
- @subsection = ""
- @page_title = "Git - Downloads"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %div.two-column
    %div.column-left
      %h1 Downloads
      %div.callout
        %table.binaries
          %tr
            %td= link_to "Mac OS X", "/download/mac", {:class => 'icon mac'}
            %td= link_to "Windows", "/download/win", {:class => 'icon windows'}
          %tr
            %td= link_to "Linux", "/download/linux", {:class => 'icon linux'}
            %td= link_to "Solaris", "/download/linux", {:class => 'icon solaris'}

      %p
        <a href="https://www.kernel.org/pub/software/scm/git/">Older releases</a> are available and the <a href="https://github.com/git/git">Git source repository</a> is on GitHub.


    %div.column-right
      = partial 'shared/monitor'


  %div.callout#more-downloads
    %div.two-column
      %div.column-left
        %h2 GUI Clients

        %p
          Git comes with built-in GUI tools (<strong>git-gui</strong>, <strong>gitk</strong>), but there are several third-party tools for users looking for a platform-specific experience.

        %p
          %strong= link_to "View GUI Clients →", "/downloads/guis"

      %div.column-right
        %h2 Logos

        %p Various Git logos in PNG (bitmap) and EPS (vector) formats are available for use in online and print projects.

        %p
          %strong= link_to "View Logos →", "/downloads/logos"

  %h2 Git via Git

  %p
    If you already have Git installed, you can get the latest development version via Git itself:

  %code
    git clone https://github.com/git/git

  %p
    You can also always browse the current contents of the git repository using the <a href="https://github.com/git/git">web interface</a>.
