<%- @section = "downloads" %>
<%- @subsection = "" %>
<%- @page_title = "Git - Downloads" %>

<% content_for :sidebar do %>
  <%= render 'shared/book' %>
<% end %>

<div id="main">
  <div class="two-column">
    <div class="column-left">
      <h1>Downloads</h1>
      <div class="callout">
        <table class="binaries">
          <tr>
            <td>
              <%= link_to "Mac OS X", "/download/mac", {:class => 'icon mac'} %>
            </td>
            <td>
              <%= link_to "Windows", "/download/win", {:class => 'icon windows'} %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "Linux/Unix", "/download/linux", {:class => 'icon linux'} %>
            </td>
          </tr>
        </table>
      </div>
      <p>
        <a href="https://www.kernel.org/pub/software/scm/git/">Older releases</a> are available and the <a href="https://github.com/git/git">Git source repository</a> is on GitHub.
      </p>
    </div>
    <div class="column-right">
      <%= partial 'shared/monitor' %>
    </div>
  </div>
  <div class="callout" id="more-downloads">
    <div class="two-column">
      <div class="column-left">
        <h2>GUI Clients</h2>
        <p>
          Git comes with built-in GUI tools (<strong>git-gui</strong>, <strong>gitk</strong>), but there are several third-party tools for users looking for a platform-specific experience.
        </p>
        <p>
          <strong>
            <%= link_to "View GUI Clients →", "/downloads/guis" %>
          </strong>
        </p>
      </div>
      <div class="column-right">
        <h2>Logos</h2>
        <p>Various Git logos in PNG (bitmap) and EPS (vector) formats are available for use in online and print projects.</p>
        <p>
          <strong>
            <%= link_to "View Logos →", "/downloads/logos" %>
          </strong>
        </p>
      </div>
    </div>
  </div>
  <h2>Git via Git</h2>
  <p>
    If you already have Git installed, you can get the latest development version via Git itself:
  </p>
  <code>
    git clone https://github.com/git/git
  </code>
  <p>
    You can also always browse the current contents of the git repository using the <a href="https://github.com/git/git">web interface</a>.
  </p>
</div>
