- @section = "downloads"
- @subsection = ""

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Downloads

  %div.two-column
    %div.column-left
      %div.callout
        %table.binaries
          %tr
            %td= link_to "Mac OS X", "#", {:class => 'icon mac'}
            %td= link_to "Windows", "#", {:class => 'icon windows'}
          %tr
            %td= link_to "Debian", "#", {:class => 'icon debian'}
            %td= link_to "Solaris v9-10", "#", {:class => 'icon solaris'}

      %p
        <a href="http://code.google.com/p/git-core/downloads/list">Older releases</a> are available and the <a href="https://github.com/gitster/git">Git source repository</a> is on GitHub.


    %div.column-right
      = partial 'shared/monitor'


  %div.callout#more-downloads
    %div.two-column
      %div.column-left
        %h2 GUI Clients

        %p
          Git comes with a built-in GUI (<strong>git-gui</strong>, <strong>gitk</strong>), but there are several third-party tools for users looking for platform-specific experience.

        %p
          %strong= link_to "View GUI Clients →", "/downloads/guis"

      %div.column-right
        %h2 Logos

        %p Various Git logos in PNG (bitmap) and EPS (vector) formats are available for use in online and print projects. 

        %p
          %strong= link_to "View Logos →", "/downloads/guis"


  %h2 Git via Git

  %p
    If you already have Git installed, you can get the latest development version via Git itself:

  %code
    git clone https://github.com/git/git.git

  %p
    You can also always browse the current contents of the git repository using the <a href="#">web interface</a>.
