- @section = "downloads"
- @subsection = ""
- @page_title = t(".page_title")

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %div.two-column
    %div.column-left
      %h1 #{t(".downloads")}
      %div.callout
        %table.binaries
          %tr
            %td= link_to "Mac OS X", "/download/mac", {:class => 'icon mac'}
            %td= link_to "Windows", "/download/win", {:class => 'icon windows'}
          %tr
            %td= link_to "Linux", "/download/linux", {:class => 'icon linux'}
            %td= link_to "Solaris", "/download/linux", {:class => 'icon solaris'}

      %p
        #{t(".older_releases_html")}


    %div.column-right
      = partial 'shared/monitor'


  %div.callout#more-downloads
    %div.two-column
      %div.column-left
        %h2 #{t(".gui_clients")}

        %p
          #{t(".gui_clients_p1_html")}

        %p
          %strong= link_to t(".gui_clients_p2"), "/downloads/guis"

      %div.column-right
        %h2 #{t(".logos")}

        %p #{t(".logos_p1")}

        %p
          %strong= link_to t(".logos_p2"), "/downloads/logos"

  %h2 #{t(".logos_p1")}

  %p
    #{t(".git_via_git_p1")}

  %code
    git clone https://github.com/git/git

  %p
    #{t(".git_via_git_p2_html")}
