%div#wrapper
  %header
    <a href="/"><img src="/images/windows/logo.png" width="454" height="65" alt="Git for Windows" /></a>

  %div#main
    %section#intro
      %p
        <a href="http://git-scm.com">Git</a> is a powerful version control system aiming to be the fastest decentralized source code management tool on the planet.

      %p
        Having its root in the Linux development community, Git used to be quite dependent on POSIX features usually only provided by Unix-style Operating Systems. Thanks to the efforts of a <a href="http://www.ohloh.net/p/msysgit/contributors">few contributors</a>, this project succeeded in providing an almost feature-complete fork of Git on Windows. 

      %p
        In order to develop Git for Windows, these volunteers rely on a build environment that is based on the <a href="http://mingw.org/">MSys/MinGW</a> project.

      %p
        Git for Windows install options include a <strong>Start Menu item</strong>, <strong>Desktop shortcut</strong>, <strong>QuickLaunch icon</strong>, and an <strong>Explorer context menu item</strong>. 

    %section#contribute
      %h2 Want to Contribute?

      %p
        Interested in contributing to the Git for Windows project? Testers, developers, and custom installer maintainers are always welcome.

      %p
        To get started with the msysGit development environment, check out the <a href="http://github.com/msysgit/msysgit">repository on GitHub</a> and introduce yourself on the <a href="http://groups.google.com/group/msysgit">mailing list</a>.

  %aside#sidebar
    %nav
      %ul
        %li= link_to "Wiki", "https://github.com/msysgit/msysgit/wiki", {:class => 'wiki'}
        %li= link_to "Source Code Repository", "http://github.com/msysgit/git", {:class => 'source-code'}
        %li= link_to "Previous Releases", "http://code.google.com/p/msysgit/downloads/list?q=full+installer+official+git", {:class => 'previous-releases'}
        %li= link_to "Mailing List", "http://groups.google.com/group/msysgit", {:class => 'mailing-list'}
        %li= link_to "FAQs", "https://github.com/msysgit/msysgit/wiki/Frequently-Asked-Questions", {:class => 'faqs'}

    <a href="#" class="button">
    <img src="/images/windows/icon-download.png" />
    <h3>Download Latest Version</h3>
    <p>Version: <em>1.7.10</em> &nbsp; &nbsp; Released: <em>April 9, 2012</em></p>
    </a>
