- @section = "downloads"
- @subsection = "guis"
- @page_title = "Git - GUI Clients"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 GUI Clients

  %p
    Git comes with built-in GUI tools for committing (<a href="/docs/git-gui">git-gui</a>) and browsing (<a href="/docs/gitk">gitk</a>), but there are several third-party tools for users looking for platform-specific experience.

  %p
    =link_to "Only show GUIs for my OS (Linux)", "#", {:class => "subtle-button", :id => "gui-os-filter", 'data-os' => 'linux'}
    %span#os-filter-count
      %strong 0
      %span.os Linux
      GUIs are highlighted below ↓

  %div.two-column
    %div.column-left
      %ul.gui-thumbnails
        %li.mac.windows
          =link_to(image_tag('guis/github-desktop@2x.png', {:width => '294', :height => '166'}), "https://desktop.github.com/")
          %h4= link_to "GitHub Desktop", "https://desktop.github.com/"
          %p.description
            <strong>Platforms:</strong> Windows, Mac</br>
            <strong>Price:</strong> Free
        %li.mac
          =link_to(image_tag('guis/gitx@2x.png', {:width => '294', :height => '166'}), "http://rowanj.github.io/gitx/")
          %h4= link_to "GitX-dev ", "https://rowanj.github.io/gitx/"
          %p.description
            <strong>Platforms:</strong> Mac</br>
            <strong>Price:</strong> Free
        %li.mac.windows
          =link_to(image_tag('guis/sourcetree@2x.png', {:width => '294', :height => '166'}), "http://www.sourcetreeapp.com/")
          %h4= link_to "SourceTree", "https://www.sourcetreeapp.com/"
          %p.description
            <strong>Platforms:</strong> Mac, Windows</br>
            <strong>Price:</strong> Free
        %li.mac.windows.linux
          =link_to(image_tag('guis/smartgit@2x.png', {:width => '294', :height => '166'}), "http://www.syntevo.com/smartgit/index.html")
          %h4= link_to "SmartGit", "https://www.syntevo.com/smartgit/"
          %p.description
            <strong>Platforms:</strong> Windows, Mac, Linux</br>
            <strong>Price:</strong> $79/user / Free for non-commercial use
        %li.mac
          =link_to(image_tag('guis/gitup@2x.png', {:width => '294', :height => '166'}), "http://gitup.co/")
          %h4= link_to "GitUp", "http://gitup.co/"
          %p.description
            <strong>Platforms:</strong> Mac</br>
            <strong>Price:</strong> Free
        %li.linux
          =link_to(image_tag('guis/giggle@2x.png', {:width => '294', :height => '166'}), "https://wiki.gnome.org/Apps/giggle/")
          %h4= link_to "giggle", "https://wiki.gnome.org/Apps/giggle/"
          %p.description
            <strong>Platforms:</strong> Linux</br>
            <strong>Price:</strong> Free
        %li.mac.windows.linux
          =link_to(image_tag('guis/git-kraken@2x.png', {:width => '294', :height => '166'}), "http://www.gitkraken.com/")
          %h4= link_to "GitKraken", "http://www.gitkraken.com/"
          %p.description
            <strong>Platforms:</strong> Windows, Mac, Linux</br>
            <strong>Price:</strong> Free
    %div.column-right
      %ul.gui-thumbnails
        %li.mac
          =link_to(image_tag('guis/tower@2x.png', {:width => '294', :height => '166'}), "http://git-tower.com/")
          %h4= link_to "Tower", "https://www.git-tower.com/"
          %p.description
            <strong>Platforms:</strong> Mac</br>
            <strong>Price:</strong> $69/user (Free 30 day trial)
        %li.mac
          =link_to(image_tag('guis/gitbox@2x.png', {:width => '294', :height => '166'}), "http://gitboxapp.com/")
          %h4= link_to "Gitbox", "http://www.gitboxapp.com/"
          %p.description
            <strong>Platforms:</strong> Mac</br>
            <strong>Price:</strong> $14.99
        %li.windows
          =link_to(image_tag('guis/git-extensions@2x.png', {:width => '294', :height => '166'}), "http://code.google.com/p/gitextensions/")
          %h4= link_to "Git Extensions", "https://gitextensions.github.io/"
          %p.description
            <strong>Platforms:</strong> Windows</br>
            <strong>Price:</strong> Free
        %li.mac.windows.linux
          =link_to(image_tag('guis/git-cola@2x.png', {:width => '294', :height => '166'}), "http://git-cola.github.io/")
          %h4= link_to "git-cola", "https://git-cola.github.io/"
          %p.description
            <strong>Platforms:</strong> Windows, Mac, Linux</br>
            <strong>Price:</strong> Free
        %li.mac.windows.linux
          =link_to(image_tag('guis/giteye@2x.png', {:width => '294', :height => '166'}), "http://www.giteyeapp.com/")
          %h4= link_to "GitEye", "http://www.giteyeapp.com/"
          %p.description
            <strong>Platforms:</strong> Windows, Mac, Linux</br>
            <strong>Price:</strong> Free
        %li.linux
          =link_to(image_tag('guis/gitg@2x.png', {:width => '294', :height => '166'}), "https://wiki.gnome.org/Apps/Gitg/")
          %h4= link_to "gitg", "https://wiki.gnome.org/Apps/Gitg/"
          %p.description
            <strong>Platforms:</strong> Linux</br>
            <strong>Price:</strong> Free

  %div.callout
    %p
      There are other great GUI tools available as well. Have a look at the list of <a href="https://git.wiki.kernel.org/index.php/InterfacesFrontendsAndTools">interfaces, frontends and tools</a> in the Git Wiki.
