<div class="banner-message" id="banner-<%= local_assigns[:id] %>">
  <%= yield %>

  <% if local_assigns[:dismissable] %>
    <button type="button" class="dismiss" aria-controls="banner-<%= local_assigns[:id] %>" aria-label="dismiss-this-button">&times;</button>

    <%= javascript_tag do %>
      (function(config) {
        var banner = document.getElementById(config.id);
        var button = banner.querySelector('.dismiss');

        var dismissed = parseInt(localStorage.getItem(config.id),10);
        var duration  = config.duration;

        if (dismissed && (!duration || (dismissed > Date.now() - duration))) {
          return banner.parentElement.removeChild(banner);
        }

        button && button.addEventListener('click', function() {
          localStorage.setItem(config.id, Date.now());
          return banner.parentElement.removeChild(banner);
        });
      })({ "id": "banner-<%= local_assigns[:id].to_s %>", "duration": "<%= banner_duration(local_assigns[:duration]) %>" });
    <% end %>
  <% end %>
</div>
