<!--
  <form id="search" action="/search/results">
    <input id="search-text" name="search" placeholder="Search entire site..." autocomplete="off" type="text" />
  </form>
  <div id="search-results"></div>
-->

<header class="flex flex-column flex-row-l pv3 pv3-l ph3 ph4-m ph5-l mb3-l w-100 bb bb-0-l b--moon-gray site-header js-site-header">
  <div class="flex flex-row justify-between items-center w-100">
    <div class="site-logo tc tl-l tl-m pr3-l order-1 order-0-l w4 z-1">
      <a href="/"><img src="/images/git-logo-full.svg" class="w-70 w-100-l" alt="Git"></a>
    </div>
    <nav class="site-nav f4 f5-l fw5 flex-auto-l nowrap order-0 order-1-l pr4-m pr5-l">
      <button type="button" aria-label="Open navigation" class="bg-transparent pa0 bw0 pointer button-reset near-black order-2 dn-l js-nav-link">
        <!-- Menu icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>

      <ul class="site-nav-links list w-100 w-auto-l pl0 dn_ db-l_ tl tr-l absolute relative-l left-0 top-2 top-0-l bottom-0 ph3 ph4-m ph0-l pv3 pv0-l js-site-nav">
        <li class="db dib-l">
          <a href="/about"
             class="no-underline near-black hover-blue db di-l pv3 pv2-l ph2 bl bl-0-l bb-l bw1-l bw2 <%= @section == "about" ? "b--orange" : "b--transparent" %>"
             <% if @section == "about" %>aria-current="page"<% end %>>
            About
          </a>
        </li>
        <li class="db dib-l">
          <a href="/manual"
             class="no-underline near-black hover-blue db di-l pv3 pv2-l ph2 bl bl-0-l bb-l bw1-l bw2 <%= @section == "manual" ? "b--orange" : "b--transparent" %>"
             <% if @section == "manual" %>aria-current="page"<% end %>>
            Manual
          </a>
        </li>
        <li class="db dib-l">
          <a href="/book"
             class="no-underline near-black hover-blue db di-l pv3 pv2-l ph2 bl bl-0-l bb-l bw1-l bw2 <%= @section == "book" ? "b--orange" : "b--transparent" %>"
             <% if @section == "book" %>aria-current="page"<% end %>>
            Book
          </a>
        </li>
        <li class="db dib-l">
          <a href="/downloads"
             class="no-underline near-black hover-blue db di-l pv3 pv2-l ph2 bl bl-0-l bw1-l bw2 <%= @section == "download" ? "b--orange" : "b--transparent" %>"
             <% if @section == "download" %>aria-current="page"<% end %>>
            Download
          </a>
        </li>
        <li class="db dib-l">
          <a href="/resources"
             class="no-underline near-black hover-blue db di-l pv3 pv2-l ph2 bl bl-0-l bw1-l bw2 <%= @section == "resources" ? "b--orange" : "b--transparent" %>"
             <% if @section == "resources" %>aria-current="page"<% end %>>
            Resources
          </a>
        </li>
        <li class="db dib-l">
          <a href="/community"
             class="no-underline near-black hover-blue db di-l pv3 pv2-l ph2 bl bl-0-l bw1-l bw2 <%= @section == "community" ? "b--orange" : "b--transparent" %>"
             <% if @section == "community" %>aria-current="page"<% end %>>
            Community
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" aria-label="Open search form" class="bg-transparent pa0 bw0 pointer button-reset near-black order-2 dn-l js-search-link">
      <!-- Search icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-link-search js-icon-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>

      <!-- X icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="dn search-link-x js-icon-search-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </button>
    <div class="search-box pv-0 order-3 dn db-l w-80 w-25-l absolute relative-l">
      <form action="#">
        <input type="search" class="input-reset outline-0 pv1 ph2 br2 ba focus-bg-white b--moon-gray hover-b-orange hover-shadow-orange w-100 js-search-input" placeholder="Search…">
      </form>
    </div>
  </div>
</header>
