<div id="masthead">
  <div class="inner">
    <p>
      Git is a <%= link_to "free and open source", "/about/free-and-open-source" %>
      distributed version control system designed to handle everything from small to
      very large projects with speed and efficiency.
    </p>

    <p>
      Git is <%= link_to "easy to learn", "/doc" %> and has a
      <%= link_to "tiny footprint with lightning fast performance", "/about/small-and-fast" %>.
      It outclasses SCM tools like Subversion, CVS, Perforce, and ClearCase
      with features like <%= link_to "cheap local branching", "/about/branching-and-merging" %>,
      convenient <%= link_to "staging areas", "/about/staging-area" %>, and
      <%= link_to "multiple workflows", "/about/distributed" %>.
    </p>

    <img class="illustration" src="/images/branching-illustration@2x.png" width="389" height="251" />
  </div> <!-- .inner -->
</div> <!-- #masthead -->
