<div class="monitor">

  <h4> Latest source Release </h4>

  <span class="version">
    <%= latest_version %>
  </span>

  <%= link_to "Release Notes", latest_relnote_url %>
  <span class="release-date">
    <%= latest_release_date %>
  </span>
  <span data-mac="<%= latest_mac_installer %>" data-win="<%= latest_win_installer %>" id="installer-version"></span>

  <%= link_to "Download Source Code", "https://www.kernel.org/pub/software/scm/git/", {:class => 'button', :id => 'download-link'} %>
</div>
