<h4> Related StackOverflow Questions</h4>

<ul class="stackoverflow">
</ul>
  <li>
    <%=link_to "About Git's merge and rebase" %>
    <span>
      <strong>5</strong> votes <em>/</em> <strong>3</strong> Answers
    </span>
  </li>
  <li>
    <%=link_to "git rebase vs git merge" %>
    <span>
      <strong>81</strong> votes <em>/</em> <strong>5</strong> Answers
    </span>
  </li>
  <li>
    <%=link_to "How to do a rebase with git gui?" %>
    <span>
      <strong>5</strong> votes <em>/</em> <strong>3</strong> Answers
    </span>
  </li>
  <li>
    <%=link_to "recovering from git rebase" %>
    <span>
      <strong>27</strong> votes <em>/</em> <strong>15</strong> Answers
    </span>
  </li>
  <li>
    <%=link_to "git pull VS git fetch git rebase" %>
    <span>
      <strong>15</strong> votes <em>/</em> <strong>3</strong> Answers
    </span>
  </li>
  <li>
    <%=link_to "Undoing a git rebase" %>
    <span>
      <strong>160</strong> votes <em>/</em> <strong>7</strong> Answers
    </span>
  </li>
  <li>
    <%=link_to "How to know if there is a git rebase in progress?" %>
    <span>
      <strong>16</strong> votes <em>/</em> <strong>7</strong> Answers
    </span>
  </li>
