<% if @related && @related.size > 0 %>
  <h4><%= t(".related_material") %></h4>
  <ul class="related-material">
    <% @related.each do |rel| %>
      <li class="<%= rel.content_type %>">
      <strong><a href="<%= rel.content_url %>"><%= rel.name %></a></strong>
      <% if rel.content_type == "reference" %>
        in <a href="/docs"><%= t(".reference") %></a>
      <% elsif rel.content_type == "book" %>
        in <a href="/book/en"><%= t(".books") %></a>
      <% elsif rel.content_type == "video" %>
        in <a href="/videos"><%= t(".videos") %></a>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
