<header> Search Results </header>

<table>
  <tr class="show-all">
    <td class="category"> &nbsp; </td>
    <td class="matches">
      <ul>
        <li>
          <%= link_to "Show all results...", "/search/results?search=#{@term}" %>
        </li>
      </ul>
    </td>
  </tr>
  <% @data[:results].each do |cat| %>
    <tr>
      <td class="category"> <%= cat[:category] %> </td>
      <td class="matches">
        <ul>
          <% cat[:matches].each do |match| %>
            <li>
              <%= link_to match[:url] do %>
                <%= match[:name] %>
                <% if match[:meta] %>
                  <span class="metadata"> <%= match[:meta] %> </span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>