- @section    = "functions"
- @page_title = "libgit2 - Functions"

= partial 'shared/library/library_versions'

%div#main
  %div.two-column.library-functions
    - each_column do |cls, rows|
      %div{:class => "column-#{cls}"}
        - rows.each do |group|
          %h3
            =link_to "#{group.name}", "#{api_route}/g/#{group.name}"
            =link_to "Show all", "#", {:class => 'toggle'}
          %ul.library-functions
            - group.functions.each do |f|
              %li= function_link f
