- @section = "functions"
- @subsection = "blob"
- @page_title = "libgit2 - git_blob_lookup_prefix"

%div#library-versions
  =link_to "Changelog", "#"
  %span.version-selection
    Version
    <select>
    <option>HEAD</option>
    <option>v0.17.0</option>
    <option>v0.16.0</option>
    <option>v0.15.0</option>
    <option>v0.14.0</option>
    <option>v0.13.0</option>
    <option>v0.12.0</option>
    <option>v0.11.0</option>
    <option>v0.10.0</option>
    <option>v0.8.0</option>
    <option>v0.3.0</option>
    <option>v0.2.0</option>
    <option>v0.1.0</option>
    </select>

%div#main
  %h1 git_blob_lookup_prefix

  %h2 DESCRIPTION

  %p
    Lookup a blob object from a repository, given a prefix of its identifier (short id).

  %h2 ARGUMENTS

  %table.arguments
    %tr
      %td.parameter blob
      %td.type
        <a href="#">git_blob</a> **
      %td.description pointer to the looked up blob
    %tr
      %td.parameter repo
      %td.type
        <a href="#">git_repository</a> *
      %td.description the repo to use when locating the blob.
    %tr
      %td.parameter id
      %td.type
        const <a href="#">git_old</a> *
      %td.description identity of the blob to locate.
    %tr
      %td.parameter len
      %td.type
        size_t
      %td.description the length of the short identifier


  %h2 RETURNS

  %table.arguments
    %tr
      %td.type int
      %td.description 0 or an error code


  %h2 SIGNATURE

  %div.signature int <strong>git_blob_lookup_prefix</strong>(<a href="#">git_blob</a> **blob, <a href="#">git_repository</a> *repo, const <a href="#">git_oid</a> *id, size_t len);
  %span.small
    Defined in <a href="#">blob.h</a>


  %h2 VERSIONS

  %ul.library-versions
    %li= link_to "0.13.0", "#", {:class => ""}
    %li= link_to "0.14.0", "#", {:class => ""}
    %li= link_to "0.15.0", "#", {:class => ""}
    %li= link_to "0.16.0", "#", {:class => ""}
    %li= link_to "0.17.0", "#", {:class => ""}
    %li= link_to "HEAD", "#", {:class => "changed"}
