- @section       = "functions"
- @subsection    = @function.group_name
- @function_name = @function.name
- @page_title    = "libgit2 - git_blob_lookup_prefix"

= partial 'shared/library/library_versions'

%div#main
  %h1=@function.name

  %h2 DESCRIPTION
  =@function.description

  %h2 ARGUMENTS
  %table.arguments
    - @function.args.each do |arg|
      %tr
        %td.parameter= arg['name']
        %td.type= type_link arg['type']
        %td.description= markdown arg['comment']

  %h2 RETURNS

  %table.arguments
    %tr
      %td.type= @function.return['type']
      %td.description= markdown @function.return['comment']


  %h2 SIGNATURE

  %div.signature int <strong>git_blob_lookup_prefix</strong>(<a href="#">git_blob</a> **blob, <a href="#">git_repository</a> *repo, const <a href="#">git_oid</a> *id, size_t len);
  %span.small
    Defined in <a href="#">blob.h</a>


  %h2 VERSIONS

  %ul.library-versions
    %li= link_to "0.13.0", "#", {:class => ""}
    %li= link_to "0.14.0", "#", {:class => ""}
    %li= link_to "0.15.0", "#", {:class => ""}
    %li= link_to "0.16.0", "#", {:class => ""}
    %li= link_to "0.17.0", "#", {:class => ""}
    %li= link_to "HEAD", "#", {:class => "changed"}
