- @section    = "functions"
- @subsection = @group.name
- @page_title = "libgit2 - #{@group.name.capitalize} Functions"

= partial 'shared/library/library_versions'

%div#main
  %h1 #{@group.name.capitalize} Functions
  %ul.library-group-functions
    - @group.functions.each do |func|
      %li
        = function_link func.name
        = markdown func.description
