<a class="dropdown-trigger" id="book-chapters-trigger" data-panel-id="chapters-dropdown" href="#">Chapters ▾</a>
<div class='dropdown-panel' id='chapters-dropdown'>
  <div class="three-column">
    <div class='column-left'>
      <ol class='book-toc'>
        <% @book.chapters[0..2].each do |chapter| %>
        <li class='chapter'>
        <h2><%= chapter.number %>. <a href="/book/<%= @book.code %>/<%= chapter.sections.first.slug %>"><%=raw chapter.title %></a></h2>
          <ol>
            <% chapter.sections.each do |section| %>
              <% if !section.title.empty? %>
                <li>
                  <%= chapter.number %>.<%= section.number %>
                  <a href="/book/<%= @book.code %>/<%= u(section.slug) %>"><%=raw section.title %></a>
                </li>
              <% end %>
            <% end %>
          </ol>
        </li>
        <% end %>
      </ol>
    </div>
    <div class='column-middle'>
      <ol class='book-toc'>
        <% @book.chapters[3..5].each do |chapter| %>
        <li class='chapter'>
        <h2><%= chapter.number %>. <a href="/book/<%= @book.code %>/<%= chapter.sections.first.slug %>"><%=raw chapter.title %></a></h2>
          <ol>
            <% chapter.sections.each do |section| %>
              <% if !section.title.empty? %>
                <li>
                  <%= chapter.number %>.<%= section.number %>
                  <a href="/book/<%= @book.code %>/<%= u(section.slug) %>"><%=raw section.title %></a>
                </li>
              <% end %>
            <% end %>
          </ol>
        </li>
        <% end %>
      </ol>
    </div>
    <div class='column-right'>
      <ol class='book-toc'>
        <% @book.chapters[6..8].each do |chapter| %>
        <li class='chapter'>
        <h2><%= chapter.number %>. <a href="/book/<%= @book.code %>/<%= chapter.sections.first.slug %>"><%=raw chapter.title %></a></h2>
          <ol>
            <% chapter.sections.each do |section| %>
              <% if !section.title.empty? %>
                <li>
                  <%= chapter.number %>.<%= section.number %>
                  <a href="/book/<%= @book.code %>/<%= u(section.slug) %>"><%=raw section.title %></a>
                </li>
              <% end %>
            <% end %>
          </ol>
        </li>
        <% end %>
        <li class='chapter'>
          <h2><a href="/book/commands">Index of Commands</a></h2>
        </li>
      </ol>
    </div>
  </div>
 </div>
