<ol class="list pl0">
  <% @book.chapters.includes(:sections).each do |chapter| %>
    <% if chapter %>
      <% if chapter.sections.size > 0 %>
        <li>
          <h2 class="f5 fw6">
            <%= chapter.cs_number %>.
            <a href="/book/<%= @book.code %>/v<%= @book.edition %>/<%=u chapter.sections.first.slug %>"><%=raw chapter.title %></a>
          </h2>
          <ol class="list pl0">
            <% chapter.sections.each do |section| %>
              <% if !section.title.empty? %>
                <li>
                  <a href="/book/<%= @book.code %>/v<%= @book.edition %>/<%= u(section.slug) %>"><%=raw section.title %></a>
                </li>
              <% end %>
            <% end %>
          </ol>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ol>
