<form class="js-book-lang pv2 " method="get" action="#">
  <select class="w-100 b--moon-gray dark-gray" name="lang">
    <optgroup label="Full translations">
      <option title="English" data-locale="en" value="en" <%= "selected" if @book.code == "en" %>>English</option>
      <option title="български език" data-locale="bg" value="bg" <%= "selected" if @book.code == "bg" %>>български език</option>
      <option title="Español" data-locale="es" value="es" <%= "selected" if @book.code == "es" %>>Español</option>
      <option title="Français" data-locale="fr" value="fr" <%= "selected" if @book.code == "fr" %>>Français</option>
      <option title="日本語" data-locale="ja" value="ja" <%= "selected" if @book.code == "ja" %>>日本語</option>
      <option title="한국어" data-locale="ko" value="ko" <%= "selected" if @book.code == "ko" %>>한국어</option>
      <option title="Nederlands" data-locale="nl" value="nl" <%= "selected" if @book.code == "nl" %>>Nederlands</option>
      <option title="Русский" data-locale="ru" value="ru" <%= "selected" if @book.code == "ru" %>>Русский</option>
      <option title="Українська" data-locale="uk" value="uk" <%= "selected" if @book.code == "uk" %>>Українська</option>
      <option title="简体中文" data-locale="zh" value="zh" <%= "selected" if @book.code == "zh" %>>简体中文</option>
    </optgroup>

    <optgroup label="Partial translations">
      <option title="Čeština" data-locale="cs" value="cs" <%= "selected" if @book.code == "cs" %>>Čeština</option>
      <option title="Indonesian" data-locale="id" value="id" <%= "selected" if @book.code == "id" %>>Indonesian</option>
      <option title="Polski" data-locale="pl" value="pl" <%= "selected" if @book.code == "pl" %>>Polski</option>
      <option title="Српски" data-locale="sr" value="sr" <%= "selected" if @book.code == "sr" %>>Српски</option>
      <option title="Tagalog" data-locale="tl" value="tl" <%= "selected" if @book.code == "tl" %>>Tagalog</option>
      <option title="繁體中文" data-locale="zh-tw" value="zh-tw" <%= "selected" if @book.code == "zh-tw" %>>繁體中文</option>
    </optgroup>

    <optgroup label="Translations started">
      <option title="Беларуская" data-locale="be" value="be" <%= "selected" if @book.code == "be" %>>Беларуская</option>
      <option title="Deutsch" data-locale="de" value="de" <%= "selected" if @book.code == "de" %>>Deutsch</option>
      <option title="فارسی" data-locale="fa" value="fa" dir="rtl" <%= "selected" if @book.code == "fa" %>>فارسی</option>
      <option title="Ελληνικά" data-locale="gr" value="gr" <%= "selected" if @book.code == "gr" %>>Ελληνικά</option>
      <option title="Italiano" data-locale="it" value="it" <%= "selected" if @book.code == "it" %>>Italiano</option>
      <option title="Македонски" data-locale="mk" value="mk" <%= "selected" if @book.code == "mk" %>>Македонски</option>
      <option title="Bahasa Melayu" data-locale="ms" value="ms" <%= "selected" if @book.code == "ms" %>>Bahasa Melayu</option>
      <option title="Português (Brasil)" data-locale="pt-br" value="pt-br" <%= "selected" if @book.code == "pt-br" %>>Português (Brasil)</option>
      <option title="Türkçe" data-locale="tr" value="tr" <%= "selected" if @book.code == "tr" %>>Türkçe</option>
      <option title="Ўзбекча" data-locale="uz" value="uz" <%= "selected" if @book.code == "uz" %>>Ўзбекча</option>
    </optgroup>
  </select>
</form>

