<% @section = 'book' %>

<div class="flex flex-column flex-row-l ph0 ph3 ph4-m ph5-l">
  <div class="order-1 order-0-l w-100 w-75-l pl0-l pr5-l">
    <div class="book-content">
      <% if !@content.title.empty? %>
        <h1><%= @content.cs_number %> <%= raw @content.chapter.title %> - <%= raw @content.title %></h1>
      <% end %>
      <%= raw linkify(@content.html, @content) %>
    </div>
  </div>

  <!-- Sidebar links -->
  <div class="nl4 nr4 ml0-l mr0-l order-0 order-1-l w-25-l mb3 mb0-l bb bb-0-l b--moon-gray details-container js-details-container">
    <button type="button" class="button-reset pointer bg-dark-tan link blue b pv3 ph4 bw0 w-100 tl db dn-l f5 js-details-target">
      Chapters
    </button>
    <div class="bg-dark-tan dn db-l pv0 pv3-l ph4 br2 lh-copy max-vh-50 max-vh-none-l overflow-auto details-content">
      <div class="dropdown-panel">
        <%= render 'translations' %>
        <%= render :partial => 'chapter_listings' %>

        <p class="bt b--moon-gray pt3 f6">
          The source of this book is
          <a href="https://github.com/progit/progit2">hosted on GitHub</a>. Patches, suggestions, and comments are welcome.
        </p>
      </div>
    </div>
  </div>
</div>
