<% @page_title = "Pro Git Book · Git" %>
<% @section = 'book' %>

<div class="flex flex-column flex-row-l ph0 ph3 ph4-m ph5-l">
  <div class="order-1 order-0-l w-100 w-75-l pl0-l pr5-l lh-copy">
    <p>
      The entire Pro Git book, written by Scott Chacon and Ben Straub and published by Apress, is available here. All content is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution Non Commercial Share Alike 3.0 license</a>. Print versions of the book are available on <a href="http://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>.</>
    </p>

    <div class="flex flex-column flex-row-l justify-between">
      <% @book.chapters.includes(:sections).in_groups(2, false) do |column| %>
        <ol class="list pl0 pr5 w-50">
          <% column.each do |chapter| %>
            <% next if chapter.sections.size == 0 %>
            <li>
              <h2 class="f4"><%= chapter.cs_number %>. <a href="/book/<%= @book.code %>/v<%= @book.edition %>/<%=u chapter.sections.first.slug %>"><%= chapter.title %></a></h2>
              <ol class="list pl4">
                <% chapter.sections.each do |section| %>
                  <% if !section.title.empty? %>
                    <li>
                      <span class="pr2"><%= chapter.cs_number %>.<%= section.number %></span>
                      <a href="/book/<%= @book.code %>/v<%= @book.edition %>/<%= u(section.slug) %>"><%=raw section.title %></a>
                    </li>
                  <% end %>
                <% end %>
              </ol>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>

  <!-- Sidebar links -->
  <div class="nl4 nr4 ml0-l mr0-l order-0 order-1-l w-25-l mb3 mb0-l bb bb-0-l b--moon-gray">
    <div class="bg-dark-tan dn db-l pv0 pv3-l ph4 br2 lh-copy max-vh-50 max-vh-none-l overflow-scroll details-content">
      <div class="dropdown-panel">
        <%= render 'translations' %>

        <img  src="/images/progit2.png" class="w-100 pt3" />

        <% if (@book.ebook_pdf || @book.ebook_epub || @book.ebook_mobi) %>
          <h3>Downloads</h3>
          <ul class="list pl0">
            <% if @book.ebook_pdf %>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="v-tt"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                <a href="<%= @book.ebook_pdf %>">PDF</a> <span class="mid-gray">(12.4 MB)</span>
              </li>
            <% end %>
            <% if @book.ebook_epub %>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="v-tt"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                <a href="<%= @book.ebook_epub %>">EPUB</a> <span class="mid-gray">(2.5 MB)</span>
              </li>
            <% end %>
            <% if @book.ebook_mobi %>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="v-tt"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                <a href="<%= @book.ebook_mobi %>">MOBI</a> <span class="mid-gray">(9.8 MB)</span>
              </li>
            <% end %>
          </ul>
        <% end %>

        <p class="bt b--moon-gray pt3 f6">
          The source of this book is
          <a href="https://github.com/progit/progit2">hosted on GitHub</a>. Patches, suggestions, and comments are welcome.
        </p>
      </div>
    </div>
  </div>
</div>
