- @section = "community"
- @subsection = ""
- @page_title = t(".page_title")

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 #{t('.main_h1')}

  %h2 #{t('.main_h2_mailing')}

  %p
    #{t('.main_p1_html')}

  %p
    #{t('.main_p2')}
    
  %p
    #{t('.main_p3_html')}  

  %p
    #{t('.main_p4_html')}

  %h2 #{t('.main_h2_irc')}

  %p
    #{t('.main_p5_html')}

  %p
    #{t('.main_p6_html')}

  %h2 #{t('.main_h2_contributing')}

  %p
    #{t('.main_p7_html')}
