<a class="dropdown-trigger" id="reference-languages-trigger" data-panel-id="l10n-versions-dropdown" href="#">Language <%= @language %> ▾</a>
<div class='dropdown-panel right' id='l10n-versions-dropdown'>
  <header>Localized versions of <strong><%= @doc_file.name %></strong> manual</header>
  <ol class='reference-previous-versions'>
    <% @doc_file.languages.each do |code, language| %>
      <li>
        <a href="/docs/<%= @doc_file.name %>/<%= code %>"><span class="version"><%= language %></span>
        </a>
        </li>
    <% end %>
    <li>&nbsp;</li>
  </ol>
</div>
