<a class="dropdown-trigger" id="reference-topics-trigger" data-panel-id="topics-dropdown" href="#">Topics ▾</a>
<div class='dropdown-panel right' id='topics-dropdown'>
  <div class='three-column'>
    <div class='column-left'>
      <%= render 'shared/ref/setup' %>
      <%= render 'shared/ref/creating' %>
      <%= render 'shared/ref/snapshot' %>
      <%= render 'shared/ref/branching' %>
      <%= render 'shared/ref/sharing' %>
    </div>
    <div class='column-middle'>
      <%= render 'shared/ref/inspection' %>
      <%= render 'shared/ref/patching' %>
      <%= render 'shared/ref/debugging' %>
      <%= render 'shared/ref/email' %>
      <%= render 'shared/ref/external' %>
      <%= render 'shared/ref/server' %>
    </div>
    <div class='column-right'>
      <%= render 'shared/ref/guides' %>
      <%= render 'shared/ref/admin' %>
      <%= render 'shared/ref/plumbing' %>
    </div>
  </div>
</div>
