%p
  This book is translated into
  = succeed "," do
    %a{:href => "/book/de"} German
  = succeed "," do
    %a{:href => "/book/zh"} Chinese
  = succeed "," do
    %a{:href => "/book/fr"} French
  %a{:href => "/book/ja"} Japanese
  and
  = succeed "." do
    %a{:href => "/book/nl"} Dutch
%p
  Partial translations available in
  = succeed "," do
    %a{:href => "/book/ar"} Arabic
  = succeed "," do
    %a{:href => "/book/cs"} Czech
  = succeed "," do
    %a{:href => "/book/es"} Spanish
  = succeed "," do
    %a{:href => "/book/id"} Indonesian
  = succeed "," do
    %a{:href => "/book/it"} Italian
  = succeed "," do
    %a{:href => "/book/mk"} Macedonian
  = succeed "," do
    %a{:href => "/book/pl"} Polish
  %a{:href => "/book/th"} Thai
  and
  = succeed "." do
    %a{:href => "/book/ru"} Russian
%hr.sidebar/
