<a class="dropdown-trigger" id="reference-versions-trigger" data-panel-id="previous-versions-dropdown" href="#">Version <%= @version.name %> ▾</a>
<span class="light"><%= @file.name %> last updated in 1.7.9.0</span>
<div class='dropdown-panel left' id='previous-versions-dropdown'>
  <ol class='reference-previous-versions'>
    <% @versions.each do |v| %>
      <li>
      <a href="#">
        <span class="version"><%= v[:name] %></span>
        <% if v[:changed] %>
          <span class="changes no"><%= @file.name %> unchanged</span>
        <% else %>
          <span class="changes yes"><%= @file.name %> updated</span>
        <% end %>
        <em class="date"><%= v[:time].strftime("%m/%d/%y") %></em>
      </a>
      </li>
    <% end %>
    <li>
      <a class="more" href="#">See more previous releases →</a>
    </li>
  </ol>
  <footer>
    <span class="light">Check your version of git by running<br></span>
    <strong>$</strong> git --version
  </footer>
</div>
