%a#reference-versions-trigger.dropdown-trigger{"data-panel-id" => "previous-versions-dropdown", :href => "#"}
  Version #{@version.name} ▾
%span.light
  = @file.name
  last updated in #{@last.version.name}
#previous-versions-dropdown.dropdown-panel.left
  %header
    Changes in the
    %strong= @file.name
    manual
  %ol.reference-previous-versions
    - @versions.each do |v|
      - if v[:changed]
        %li
          %a{:href => "/docs/#{@file.name}/#{v[:name]}"}
            %span.version= v[:name]
            %span.diff
              - v[:diff][0].times do
                %img{:src => "/images/icons/green-dot.png"}/
              - v[:diff][1].times do
                %img{:src => "/images/icons/red-dot.png"}/
              - v[:diff][2].times do
                %img{:src => "/images/icons/grey-dot.png"}/
            %em.date= v[:time].strftime("%m/%d/%y")
      - else
        %li.no-change
          %span= raw v[:name]
    %li &nbsp;
    / <li><a class="more" href="#">See more previous releases →</a></li>
  %footer
    %span.light
      Check your version of git by running
      %br/
    %strong $
    %input.copyable{:type => "text", :value => "git --version"}/
