<% @section    = 'documentation' %>
<% @subsection = 'book' %>

<% content_for :sidebar do %>
  <%= render 'translations' %>
<% end %>

<div id='main'>
  <% if !@content.title.empty? %>
    <h1><%= @content.cs_number %> <%= @content.chapter.title %> - <%= @content.title %></h1>
  <% end %>
  <div><%=raw linkify(@content.html, @content) %></div>
</div>
