- @section    = 'documentation'
- @subsection = 'book'
- content_for :sidebar do
  = render 'ebooks'
  = render 'translations'
  = render 'shared/related'
#main.book
  - if !@content.title.empty?
    %h1
      = @content.cs_number
      = raw @content.chapter.title
      \- #{raw @content.title}
  %div= raw linkify(@content.html, @content)
