- @section    = 'documentation'
- @subsection = 'book'
- @page_title = "Git - Book"
- content_for :sidebar do
  = render 'ebooks'
  = render 'translations'
#main
  %h1 Book
  %img{:src => "/images/pro-git-118x157.jpg", :style => "float:right;margin: -20px 40px 0 40px;"}/
  %p
    The entire Pro Git book, written by Scott Chacon and published by Apress, is available here. All content is licensed under the
    = succeed "." do
      %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/"} Creative Commons Attribution Non Commercial Share Alike 3.0 license
    Print versions of the book are available on
    = succeed "." do
      %a{:href => "http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339"} Amazon.com
  %ol.book-toc
    - @book.chapters.each do |chapter|
      %li.chapter
        %h2
          == #{chapter.number}.
          %a{:href => "/book/#{@book.code}/#{chapter.sections.first.slug}"}= raw chapter.title
        %ol
          - chapter.sections.each do |section|
            - if !section.title.empty?
              %li
                == #{chapter.number}.#{section.number}
                %a{:href => "/book/#{@book.code}/#{section.slug}"}= raw section.title
    %li.chapter
      %h2
        %a{:href => "/book/commands"} Index of Commands
