<% @section    = 'documentation' %>
<% @subsection = 'book' %>

<div id='main'>
  <h1>Index of Commands</h1>
  <table>
  <% @groups.each do |title, commands| %>
    <tr>
      <td colspan="10"><h2><%= title %></h2></td>
    </tr>
    <% commands.each do |cmd| %>
    <tr>
      <th>&nbsp;</th>
      <th><%= cmd %></th>
      <% if @related[cmd] %>
        <% @related[cmd].each do |number, slug, score| %>
          <td nowrap><a href="/book/en/<%= slug %>"><%= number %></a>(<%= score %>)</td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
