<% @section    = 'documentation' %>
<% @subsection = 'book' %>

<div class="site-content book">
  <h1>Index of Commands</h1>

  <table class="commands">
  <% @groups.each do |title, commands| %>
    <tr>
      <td colspan="10"><h2><%= title %></h2></td>
    </tr>
    <% commands.each do |cmd| %>
      <tr>
        <th>&nbsp;</th>
        <th><%= cmd %></th>
        <% if @related[cmd] %>
          <% count = 0 %>
          <% @related[cmd].each do |number, slug, score| %>
            <% count += 1 %>
            <% if count > 10 %>
              <% count = 1 %>
              </tr><tr><th>&nbsp;</th><td></td>
            <% end %>
            <td nowrap><a href="/book/en/<%= slug %>"><%= number %></a> <small>(<%= score %>)</small></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
