<%- @section    = 'documentation' %>
<%- @subsection = 'external-links' %>
<%- @page_title = t(".page_title") %>

<div id='main'>
  <h1><%= t(".external_links") %></h1>
  <h2><%= t(".tutorials") %></h2>
  <div class='two-column'>
    <div class='column-left'>
      <h3><%= t(".short_and_sweet_html") %></h3>
      <ul class='content-list'>
        <li>
          <h4><a href="http://gitref.org/"><%= t(".introductory_reference") %></a></h4>
          <p class='description'>
            <%= t(".introductory_ref_description") %>
          </p>
        </li>
        <li>
          <h4><a href="/docs/gittutorial"><%= t(".official_git_tut") %></a></h4>
          <p class='description'>
            <%= t(".official_git_tut_description") %>
          </p>
        </li>
        <li>
          <h4><a href="/docs/everyday"><%= t(".everyday_git") %></a></h4>
          <p class='description'>
            <%= t(".everyday_git_description") %>
          </p>
        </li>
        <li>
          <h4><a href="http://gitimmersion.com/"><%= t(".git_immersion") %></a></h4>
          <p class='description'>
            <%= t(".git_immersion_description") %>
          </p>
        </li>
      </ul>
    </div>
    <div class='column-right'>
      <h3><%= t(".diving_deeper") %></h3>
      <ul class='content-list'>
        <li>
          <h4><a
		  href="http://rypress.com/tutorials/git/index.html"><%= t(".rys_git_tutorial_html") %></a></h4>
          <p class='description'>
			         <%= t(".rys_git_tut_description") %>
          </p>
        </li>
        <li>
          <h4><a href="http://hoth.entp.com/output/git_for_designers.html"><%= t(".git_for_designers") %></a></h4>
          <p class='description'>
            <%= t(".git_for_designers_description") %>
          </p>
        </li>
        <li>
          <h4><a href="http://eagain.net/articles/git-for-computer-scientists/"><%= t(".git_for_computer_scientists") %></a></h4>
          <p class='description'>
            <%= t(".git_for_computer_scientists_desc") %>
          </p>
        </li>
        <li>
          <h4><a href="http://www-cs-students.stanford.edu/~blynn/gitmagic/"><%= t(".git_magic") %></a></h4>
          <p class='description'>
            <%= t(".git_magic_description_html") %>
          </p>
        </li>
        <li>
          <h4><a href="http://help.github.com/"><%= t(".help_github") %></a></h4>
          <p class='description'>
            <%= t(".help_github_description") %>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <h2><%= t(".books") %></h2>
  <div class='two-column'>
    <div class='column-left'>
      <ul class='books-list'>
        <li>
          <a href="http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"><img src="/images/books/pragmatic-version-control@2x.jpg" width="107" height="128" /></a>
          <h4><a href="http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"><%= t(".pragmatic_git") %></a></h4>
          <p class='description'>
            <%= t(".pragmatic_git_description") %>
          </p>
        </li>
        <li>
          <a href="/book"><img src="/images/books/pro-git@2x.jpg" width="107" height="141" /></a>
          <h4><a href="/book"><%= t(".pro_git") %></a></h4>
          <p class='description'>
            <%= t(".pro_git_description") %>
            <img class="creative-commons" src="/images/creative-commons@2x.png" width="115" height="28" />
          </p>
        </li>
        <li>
          <a href="http://peepcode.com/products/git-internals-pdf"><img src="/images/books/git-internals@2x.jpg" width="107" height="81" /></a>
          <h4><a href="http://peepcode.com/products/git-internals-pdf"><%= t(".git_internals") %></a></h4>
          <p class='description'>
            <%= t(".git_internals_description") %>
          </p>
        </li>
        <li>
          <a href="http://cbx33.github.com/gitt/"><img src="/images/books/git-in-the-trenches@2x.jpg" /></a>
          <h4><a href="http://cbx33.github.com/gitt/"><%= t(".git_in_trenches") %></a></h4>
          <p class='description'>
            <%= t(".git_in_trenches_description") %>
            <img class="creative-commons" src="/images/creative-commons.png" />
        </li>
      </ul>
    </div>
    <div class='column-right'>
      <ul class='books-list'>
        <li>
          <a href="http://www.amazon.com/Version-Control-Git-collaborative-development/dp/0596520123"><img src="/images/books/version-control-with-git@2x.jpg" width="107" height="140" /></a>
          <h4><a href="http://www.amazon.com/Version-Control-Git-collaborative-development/dp/1449316387"><%= t(".version_control") %></a></h4>
          <p class='description'>
            <%= t(".version_control_description") %>
          </p>
        </li>
        <li>
          <a href="http://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git"><img src="/images/books/pragmatic-guide-to-git@2x.jpg" width="107" height="162" /></a>
          <h4><a href="http://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git"><%= t(".pragmatic_guide") %></a></h4>
          <p class='description'>
            <%= t(".pragmatic_guide_description") %>
          </p>
        </li>
        <li>
          <a href="http://www.packtpub.com/git-version-control-for-everyone/book"><img src="http://www.packtpub.com/sites/default/files/7522OS_mockupcover_bg_0.jpg" width="107"/></a>
          <h4><a href="http://www.packtpub.com/git-version-control-for-everyone/book"><%= t(".git_for_everyone") %></a></h4>
          <p class='description'>
            <%= t(".git_for_everyone_description") %>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <h2>Videos</h2>
  <div class='two-column'>
    <div class='column-left'>
      <ul class='video-thumbnails'>
        <li>
          <a href="http://www.youtube.com/watch?v=4XpnKHJAok8"><img src="/images/videos/linus@2x.jpg" width="294" height="180" /></a>
          <h4><a href="http://www.youtube.com/watch?v=4XpnKHJAok8"><%= t(".tech_talk") %></a></h4>
          <p class='description'>
            <%= t(".tech_talk_description") %>
          </p>
        </li>
      </ul>
    </div>
    <div class='column-right'>
      <ul class='video-thumbnails'>
        <li>
          <a href="http://www.youtube.com/watch?v=ZDR433b0HJY"><img src="/images/videos/introgit@2x.jpg" width="294" height="180" /></a>
          <h4><a href="http://www.youtube.com/watch?v=ZDR433b0HJY"><%= t(".introduction_to_git") %></a></h4>
          <p class='description'>
            <%= t(".introduction_to_git_description") %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
