- @section = "documentation"
- @subsection = ""

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Documentation 

  %h2 Reference

  %div.callout.ref-manual
    %h3= link_to "Reference Manual"
    %p
      The official and comprehensive <strong>man pages</strong> that are included in the Git package itself.

  %p.quickref
    Quick reference guides: 
    =link_to "DZone RefCard"
    %small.light (PDF) &nbsp;|&nbsp;
    =link_to "Visual Git Cheat Sheet"
    %small.light (SVG | PNG) 

  %h2 Book

  %div#book-container
    %div#book-intro
      %p
        Pro Git is written by Scott Chacon and published by Apress.

      %p 
        Print copies can be purchased from <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339">Amazon</a> and <a href="/pro-git-ebooks/progit.pdf">PDF</a>, <a href="/pro-git-ebooks/pro-git.en.mobi">mobi</a>, and <a href="/pro-git-ebooks/progit.epub">ePub</a> versions are available for free. 
      %p
        <a href="#" id="open-book">Back to book →</a>
      %p.license
        =image_tag "/images/creative-commons.png", {:class => 'creative-commons'}
        All content under the Creative Commons Attribution Non Commercial Share Alike 3.0 license.
    %div#flippy-book
      %div#book-inside-page
        %span.header Scott Chacon
        %ol.book-toc
          %li.chapter
            %h2 6. <a href="#">Git Tools</a>
          %li.chapter
            %h2 7. <a href="#">Customizing Git</a>
          %li.chapter
            %h2 8. <a href="#">Git and Other Systems</a>
          %li.chapter
            %h2 9. <a href="#">Git Internals</a>
          %li.chapter
            %h2 <a href="#">Index of Commands</a>
            
      %div#book-cover.open
        %div#book-cover-outside.face
          Pro Git
        %div#book-cover-inside.face
          %span.header Pro Git
          %ol.book-toc
            %li.chapter
              %h2 1. <a href="#">Getting Started</a>
            %li.chapter
              %h2 2. <a href="#">Git Basics</a>
            %li.chapter
              %h2 3. <a href="#">Git Branching</a>
            %li.chapter
              %h2 4. <a href="#">Git on the Server</a>
            %li.chapter
              %h2 5. <a href="#">Distributed Git</a>
          <a href="#" id="about-book">About this book</a>

  %h2 Videos

  %div.two-column
    %div.column-left
      %ul.video-thumbnails
        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

    %div.column-right
      %ul.video-thumbnails
        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

        %li
          =link_to(image_tag('tmp/screencast-thumbnail.png'))
          %h4= link_to "Name of this Screencast"
          %p.description
            <strong>Length:</strong> 7:18

  %p
    %strong= link_to "See all videos →"

  %h2 External Links

  %p
    The <a href="/documentation/external-links">External Links section</a> is a curated, ever-evolving collection of tutorials, books, videos, and other Git resources.

