- @section = "documentation"
- @page_title = "Git - Documentation"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 Documentation 

  %h2 Reference

  %div.callout.ref-manual
    %h3= link_to "Reference Manual", "/docs"
    %p
      The official and comprehensive <strong>man pages</strong> that are included in the Git package itself.

  %p.quickref
    Quick reference guides: 
    =link_to "Heroku Cheat Sheet", "https://na1.salesforce.com/help/doc/en/salesforce_git_developer_cheatsheet.pdf"
    %small.light (PDF) &nbsp;|&nbsp;
    =link_to "Visual Git Cheat Sheet", "http://ndpsoftware.com/git-cheatsheet.html"
    %small.light (SVG | PNG) 

  %h2 Book

  %div#book-container
    %div#book-intro
      %p
        Pro Git is written by Scott Chacon and published by Apress.

      %p 
        Print copies can be purchased from <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339">Amazon</a> and <a href="https://github.s3.amazonaws.com/media/progit.en.pdf">PDF</a>, <a href="https://github.s3.amazonaws.com/media/pro-git.en.mobi">mobi</a>, and <a href="https://github.s3.amazonaws.com/media/progit.epub">ePub</a> versions are available for free. 
      %p
        <a href="#" id="open-book">Back to book →</a>
      %p.license
        %img.creative-commons{:src => "/images/creative-commons.png"}
        All content under the Creative Commons Attribution Non Commercial Share Alike 3.0 license.
    %div#flippy-book
      %div#book-inside-page
        %span.header Scott Chacon
        %ol.book-toc
          - @book.chapters.where("number >= 6").each do |chapter|
            %li.chapter
              %h2
                = chapter.number.to_s + '.'
                %a{:href=>"/book/#{@book.code}/#{chapter.sections.first.slug}"}= chapter.title
          %li.chapter
            %h2 <a href="/book/commands">Index of Commands</a>
      %div#book-cover.open
        %div#book-cover-outside.face
          Pro Git
        %div#book-cover-inside.face
          %span.header Pro Git
          %ol.book-toc
            - @book.chapters.where("number < 6").each do |chapter|
              %li.chapter
                %h2
                  = chapter.number.to_s + '.'
                  %a{:href=>"/book/#{@book.code}/#{chapter.sections.first.slug}"}= chapter.title
          <a href="#" id="about-book">About this book</a>


  %h2 Videos

  - groups = @videos[0,4].group_by { |i| i[0] % 2 }

  %div.two-column
    %div.column-left
      %ul.video-thumbnails
        - groups[1].each do |video|
          %li
            =link_to(image_tag("video/ep#{ video[0] }.png"), "/video/#{ video[4] }")
            %h4= link_to video[3], "/video/#{ video[4] }"
            %p.description
              =raw "<strong>Length:</strong> #{video[5]}"

    %div.column-right
      %ul.video-thumbnails
        - groups[0].each do |video|
          %li
            =link_to(image_tag("video/ep#{ video[0] }.png"), "/video/#{ video[4] }")
            %h4= link_to video[3], "/video/#{ video[4] }"
            %p.description
              =raw "<strong>Length:</strong> #{video[5]}"

  %p
    %strong= link_to "See all videos →", "/videos"

  %h2 External Links

  %p
    The <a href="/documentation/external-links">External Links section</a> is a curated, ever-evolving collection of tutorials, books, videos, and other Git resources.

