<% @section = "documentation" %>
<% @page_title = "Git - Documentation" %>

<% content_for :sidebar do %>
<% end %>

<div id="main">

  <h1> Documentation </h1>

  <h2> Reference </h2>

  <div class="callout ref-manual">
    <h3><%= link_to "Reference Manual", docs_path %></h3>

    <p>
      The official and comprehensive <strong>man pages</strong> that are included in the Git package itself.
    </p>
  </div>

  <p class="quickref">
    Quick reference guides:

    <%= link_to "GitHub Cheat Sheet", "https://github.github.com/training-kit/" %>
    |
    <%= link_to "Visual Git Cheat Sheet", "https://ndpsoftware.com/git-cheatsheet.html" %>

  </p>

  <h2> Book </h2>

  <div class="callout ref-manual">
    <h3>Pro Git</h3>
    <p>The entire <strong><a href="/book">Pro Git book</a></strong> written
      by Scott Chacon and Ben Straub is available to <a href="/book">read online for free</a>.
      Dead tree versions are available on <a href="https://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>.
    </p>
  </div>
  
  <h2> Videos </h2>

  <div>

    <% groups = @videos[0,4].group_by { |i| i[0] % 2 } %>

    <div class="two-column">
      <div class="column-left">
        <ul class="video-thumbnails">
          <% groups[1].each do |video| %>
            <li>
              <%= link_to image_tag("video/ep#{video[0]}.png"), "/video/#{ video[4] }" %>
              <h4>
                <%= link_to video[3], "/video/#{ video[4] }" %>
              </h4>
              <p class="description">
                <strong>Length:</strong> <%= video[5] %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="column-right">
        <ul class="video-thumbnails">
          <% groups[0].each do |video| %>
            <li>
              <%= link_to image_tag("video/ep#{video[0]}.png"), "/video/#{ video[4] }" %>
              <h4>
                <%= link_to video[3], "/video/#{ video[4] }" %>
              </h4>
              <p class="description">
                <strong>Length:</strong> <%= video[5] %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <p>
      <%= link_to "See all videos →", "/videos" %>
    </p>

    <h2> External Links </h2>
    <p>
      The <%= link_to "External Links section", "/doc/ext" %> is a curated, ever-evolving collection of tutorials, books, videos, and other Git resources.
    </p>

  </div>

</div>
