- @section = "documentation"
- @page_title = t(".page_title")

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 #{t(".documentation")}

  %h2 #{t(".reference")}

  %div.callout.ref-manual
    %h3= link_to t(".reference_manual"), "/docs"
    %p
      #{t(".callout_p1")}

  %p.quickref
    #{t(".quick_reference")}
    =link_to t(".heroku_cheat_sheet"), "https://na1.salesforce.com/help/doc/en/salesforce_git_developer_cheatsheet.pdf"
    %small.light (PDF) &nbsp;|&nbsp;
    =link_to t(".visual_git_cheat_sheet"), "http://ndpsoftware.com/git-cheatsheet.html"
    %small.light (SVG | PNG)

  %h2 #{t(".book")}

  %div#book-container
    %div#book-intro
      %p
        #{t(".book_intro_p1")}

      %p
        #{t(".book_intro_p2_html")}
      %p
        <a href="#" id="open-book">#{t(".back_to_book")}</a>
      %p.license
        %img.creative-commons{:src => "/images/creative-commons@2x.png", :width => 115, :height => 28}
        #{t(".creative_commons")}
    %div#flippy-book
      %div#book-inside-page
        %span.header Scott Chacon
        %ol.book-toc
          - @book.chapters.where("number >= 6").each do |chapter|
            %li.chapter
              %h2
                = chapter.number.to_s + '.'
                %a{:href=>"/book/#{@book.code}/#{chapter.sections.first.slug}"}= chapter.title
          %li.chapter
            %h2 <a href="/book/commands">#{t(".index_of_commands")}</a>
      %div#book-cover.open
        %div#book-cover-outside.face
          Pro Git
        %div#book-cover-inside.face
          %span.header Pro Git
          %ol.book-toc
            - @book.chapters.where("number < 6").each do |chapter|
              %li.chapter
                %h2
                  = chapter.number.to_s + '.'
                  %a{:href=>"/book/#{@book.code}/#{chapter.sections.first.slug}"}= chapter.title
          <a href="#" id="about-book">#{t(".book_information")}</a>


  %h2 #{t(".videos")}

  - groups = @videos[0,4].group_by { |i| i[0] % 2 }

  %div.two-column
    %div.column-left
      %ul.video-thumbnails
        - groups[1].each do |video|
          %li
            =link_to(image_tag("video/ep#{ video[0] }.png"), "/video/#{ video[4] }")
            %h4= link_to video[3], "/video/#{ video[4] }"
            %p.description
              =raw "<strong>Length:</strong> #{video[5]}"

    %div.column-right
      %ul.video-thumbnails
        - groups[0].each do |video|
          %li
            =link_to(image_tag("video/ep#{ video[0] }.png"), "/video/#{ video[4] }")
            %h4= link_to video[3], "/video/#{ video[4] }"
            %p.description
              =raw "<strong>Length:</strong> #{video[5]}"

  %p
    %strong= link_to "See all videos →", "/videos"

  %h2 #{t(".external_links")}

  %p
    #{t(".external_links_p1_html")}
