<% @section    = 'documentation' %>
<% @subsection = 'reference' %>
<% @page_title = "#{@file.name} manual" %>

<% content_for :sidebar do %>
  <%= cache("#{@cache_key}-related") do %>
    <%= render 'shared/related' %>
  <% end %>
<% end %>

<%= cache(@cache_key) do %>
  <div id='reference-version'>
    <%= render 'doc/topics' %>
    <%= render 'doc/versions' %>
  </div>

  <div id='main'>
    <%=raw @doc.html %>
  </div>
<% end %>
