- @section    = 'documentation'
- @subsection = 'reference'
- content_for :sidebar do
  = cache("#{@cache_key}-related") do
    = render 'shared/related'
= cache(@cache_key) do
  #reference-version
    = render 'doc/topics'
    = render 'doc/versions'
  #main
    = raw @doc.html
