<%- @section = "documentation" %>
<%- @subsection = "reference" %>

<% content_for :sidebar do %>
  <div class="callout">
    <p>
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon and Ben Straub is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.
    </p>
  </div>
<% end %>

<div class="reference-version">
  <%= link_to "Topics ▾", "#", {:class => 'dropdown-trigger js-dropdown-trigger reference-topics-trigger', 'data-panel-id' => 'topics-dropdown'} %>
  <div class="dropdown-panel right" id="topics-dropdown">
    <div class="three-column">
      <div class="column-left">
        <h3>Setup and Config</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "config" %>
          </li>
          <li>
            <%= link_to "help" %>
          </li>
        </ul>
        <h3>Getting and Creating Projects</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "init" %>
          </li>
          <li>
            <%= link_to "clone" %>
          </li>
        </ul>
        <h3>Basic Snapshotting</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "add" %>
          </li>
          <li>
            <%= link_to "status" %>
          </li>
          <li>
            <%= link_to "diff" %>
          </li>
          <li>
            <%= link_to "commit" %>
          </li>
          <li>
            <%= link_to "reset" %>
          </li>
          <li>
            <%= link_to "rm" %>
          </li>
          <li>
            <%= link_to "mv" %>
          </li>
        </ul>
        <h3>Branching and Merging</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "branch" %>
          </li>
          <li>
            <%= link_to "checkout" %>
          </li>
          <li>
            <%= link_to "merge" %>
          </li>
          <li>
            <%= link_to "mergetool" %>
          </li>
          <li>
            <%= link_to "log" %>
          </li>
          <li>
            <%= link_to "stash" %>
          </li>
          <li>
            <%= link_to "tag" %>
          </li>
        </ul>
        <h3>Sharing and Updating Projects</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "fetch" %>
          </li>
          <li>
            <%= link_to "pull" %>
          </li>
          <li>
            <%= link_to "push" %>
          </li>
          <li>
            <%= link_to "remote" %>
          </li>
          <li>
            <%= link_to "submodule" %>
          </li>
        </ul>
      </div>
      <div class="column-middle">
        <h3>Inspection and Comparison</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "show" %>
          </li>
          <li>
            <%= link_to "log" %>
          </li>
          <li>
            <%= link_to "diff" %>
          </li>
          <li>
            <%= link_to "shortlog" %>
          </li>
          <li>
            <%= link_to "describe" %>
          </li>
        </ul>
        <h3>Patching</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "am" %>
          </li>
          <li>
            <%= link_to "apply" %>
          </li>
          <li>
            <%= link_to "cherry-pick" %>
          </li>
          <li>
            <%= link_to "rebase" %>
          </li>
        </ul>
        <h3>Debugging</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "bisect" %>
          </li>
          <li>
            <%= link_to "blame" %>
          </li>
        </ul>
        <h3>Email</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "am" %>
          </li>
          <li>
            <%= link_to "apply" %>
          </li>
          <li>
            <%= link_to "format-patch" %>
          </li>
          <li>
            <%= link_to "send-email" %>
          </li>
          <li>
            <%= link_to "request-pull" %>
          </li>
        </ul>
        <h3>External Systems</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "svn" %>
          </li>
          <li>
            <%= link_to "fast-import" %>
          </li>
        </ul>
      </div>
      <div class="column-right">
        <h3>Administration</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "clean" %>
          </li>
          <li>
            <%= link_to "gc" %>
          </li>
          <li>
            <%= link_to "fsck" %>
          </li>
          <li>
            <%= link_to "reflog" %>
          </li>
          <li>
            <%= link_to "filter-branch" %>
          </li>
          <li>
            <%= link_to "instaweb" %>
          </li>
          <li>
            <%= link_to "archive" %>
          </li>
          <li>
            <%= link_to "bundle" %>
          </li>
        </ul>
        <h3>Server Admin</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "daemon" %>
          </li>
          <li>
            <%= link_to "update-server-info" %>
          </li>
        </ul>
        <h3>Plumbing Commands</h3>
        <ul class="unstyled">
          <li>
            <%= link_to "cat-file" %>
          </li>
          <li>
            <%= link_to "commit-tree" %>
          </li>
          <li>
            <%= link_to "count-objects" %>
          </li>
          <li>
            <%= link_to "diff-index" %>
          </li>
          <li>
            <%= link_to "hash-object" %>
          </li>
          <li>
            <%= link_to "merge-base" %>
          </li>
          <li>
            <%= link_to "read-tree" %>
          </li>
          <li>
            <%= link_to "rev-list" %>
          </li>
          <li>
            <%= link_to "rev-parse" %>
          </li>
          <li>
            <%= link_to "show-ref" %>
          </li>
          <li>
            <%= link_to "symbolic-ref" %>
          </li>
          <li>
            <%= link_to "update-index" %>
          </li>
          <li>
            <%= link_to "update-ref" %>
          </li>
          <li>
            <%= link_to "verify-pack" %>
          </li>
          <li>
            <%= link_to "write-tree" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to "Version 1.7.9.4 ▾", "#", {:class => 'dropdown-trigger js-dropdown-trigger reference-versions-trigger', 'data-panel-id' => 'previous-versions-dropdown'} %>
  <span class="light">git-rebase last updated in 1.7.7.1</span>
  <div class="dropdown-panel previous-versions-dropdown left" id="previous-versions-dropdown">
    <header>
      Changes in the <strong>git-rebase</strong> manual
    </header>
    <ol class="reference-previous-versions">
      <li class="no-change">
        <span>1.7.7.1 → 1.7.9.4 no changes</span>
      </li>
      <li>
        <a href="#"><span class="version">1.7.7.1</span>
        <span class="diff">
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        </span>
        <em class="date">12/22/11</em></a>
      </li>
      <li class="no-change">
        <span>1.7.6.5 no changes</span>
      </li>
      <li>
        <a href="#"><span class="version">1.7.6.1</span>
        <span class="diff">
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        </span>
        <em class="date">9/22/11</em></a>
      </li>
      <li class="no-change">
        <span>1.7.5.1 → 1.7.6.0 no changes</span>
      </li>
      <li>
        <a href="#"><span class="version">1.7.5.0</span>
        <span class="diff">
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/green-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/red-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        <img src="/images/icons/grey-dot.png" />
        </span>
        <em class="date">5/22/11</em></a>
      </li>
      <li>
        <%= link_to "See more previous releases →", "#", {:class => 'more'} %>
      </li>
    </ol>
    <footer>
      <span class="light">Check your version of git by running<br></span>
      <strong>$</strong>
      <input type="text" class="copyable" value="git --version" />
    </footer>
  </div>
</div>

