<%- @section    = 'documentation' %>
<%- @subsection = 'reference' %>
<%- @page_title = "Git - Reference" %>

<div id='main'>
  <h1>Reference</h1>
  <div class='callout quickref'>
    <p>
      Quick reference guides:
      <%= link_to "GitHub Cheat Sheet", "https://github.github.com/training-kit/" %>
      |
      <%= link_to "Visual Git Cheat Sheet", "https://ndpsoftware.com/git-cheatsheet.html" %>
    </p>
  </div>
  <div class="callout all-commands">
    <a href="/docs/git#_git_commands">Complete list of all commands<a/>
  </div>
  <div class='reference-menu'>
    <div class='two-column'>
      <div class='column-left'>
        <%= render 'shared/ref/setup' %>
        <%= render 'shared/ref/creating' %>
        <%= render 'shared/ref/snapshot' %>
        <%= render 'shared/ref/branching' %>
        <%= render 'shared/ref/sharing' %>
        <%= render 'shared/ref/inspection' %>
        <%= render 'shared/ref/patching' %>
        <%= render 'shared/ref/debugging' %>
      </div>
      <div class='column-right'>
        <%= render 'shared/ref/guides' %>
        <%= render 'shared/ref/email' %>
        <%= render 'shared/ref/external' %>
        <%= render 'shared/ref/admin' %>
        <%= render 'shared/ref/server' %>
        <%= render 'shared/ref/plumbing' %>
      </div>
    </div>
  </div>
</div>
