- @section    = 'documentation'
- @subsection = 'reference'
- @page_title = "Git - Reference"
#main
  %h1 Reference
  .callout.quickref
    %p
      Quick reference guides:
      %a{:href => " https://na1.salesforce.com/help/doc/en/salesforce_git_developer_cheatsheet.pdf"} Heroku Cheat Sheet
      %small.light (PDF) &nbsp;|&nbsp;
      %a{:href => "http://ndpsoftware.com/git-cheatsheet.html"} Visual Git Cheat Sheet
      %small.light (SVG | PNG)
  .reference-menu
    .two-column
      .column-left
        = render 'shared/ref/setup'
        = render 'shared/ref/creating'
        = render 'shared/ref/snapshot'
        = render 'shared/ref/branching'
        = render 'shared/ref/sharing'
        = render 'shared/ref/inspection'
        = render 'shared/ref/patching'
      .column-right
        = render 'shared/ref/debugging'
        = render 'shared/ref/email'
        = render 'shared/ref/external'
        = render 'shared/ref/admin'
        = render 'shared/ref/server'
        = render 'shared/ref/plumbing'
