<%- @section    = 'documentation' %>
<%- @subsection = 'reference' %>
<%- @page_title = "Git - Reference" %>

<div id='main'>
  <h1>Reference</h1>
  <div class='callout quickref'>
    <p>
      Quick reference guides:
      <a href="https://services.github.com/on-demand/downloads/github-git-cheat-sheet.pdf">GitHub Cheat Sheet</a>
      <small class='light'>(PDF) &nbsp;|&nbsp;</small>
      <a href="http://ndpsoftware.com/git-cheatsheet.html">Visual Git Cheat Sheet</a>
      <small class='light'>(SVG | PNG)</small>
    </p>
  </div>
  <div class='reference-menu'>
    <div class='two-column'>
      <div class='column-left'>
        <%= render 'shared/ref/setup' %>
        <%= render 'shared/ref/creating' %>
        <%= render 'shared/ref/snapshot' %>
        <%= render 'shared/ref/branching' %>
        <%= render 'shared/ref/sharing' %>
        <%= render 'shared/ref/inspection' %>
        <%= render 'shared/ref/patching' %>
        <%= render 'shared/ref/debugging' %>
      </div>
      <div class='column-right'>
        <%= render 'shared/ref/guides' %>
        <%= render 'shared/ref/email' %>
        <%= render 'shared/ref/external' %>
        <%= render 'shared/ref/admin' %>
        <%= render 'shared/ref/server' %>
        <%= render 'shared/ref/plumbing' %>
      </div>
    </div>
  </div>
</div>
