<%- @section    = 'documentation' %>
<%- @subsection = 'videos' %>
<%- @page_title = 'Git - Videos' %>

<% groups = @videos.group_by { |i| i[0] % 2 } %>

<div id='main'>
  <h1>Videos</h1>
  <div class='two-column'>
    <div class='column-left'>
      <ul class='video-thumbnails'>
        <% groups[1].each do |video| %>
          <li>
            <a href="/video/<%= video[4] %>"><img src="/images/video/ep<%= video[0] %>@2x.png" width="294" height="164" /></a>
            <h4><a href="/video/<%= video[4] %>"><%= video[3] %></a></h4>
            <p class='description'>
              <strong>Length:</strong> <%= video[5] %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='column-right'>
      <ul class='video-thumbnails'>
        <% groups[0].each do |video| %>
          <li>
            <a href="/video/<%= video[4] %>"><img src="/images/video/ep<%= video[0] %>@2x.png" width="294" height="164" /></a>
            <h4><a href="/video/<%= video[4] %>"><%= video[3] %></a></h4>
            <p class='description'>
              <strong>Length:</strong> <%= video[5] %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
