- @section    = 'documentation'
- @subsection = 'videos'
- @page_title = 'Git - Videos'
- groups = @videos.group_by { |i| i[0] % 2 }
#main
  %h1 Videos
  .two-column
    .column-left
      %ul.video-thumbnails
        - groups[1].each do |video|
          %li
            %a{:href => "/video/#{video[4]}"}
              %img{:src => "/images/video/ep#{video[0]}.png"}/
            %h4
              %a{:href => "/video/#{video[4]}"}= video[3]
            %p.description
              %strong Length:
              = video[5]
    .column-right
      %ul.video-thumbnails
        - groups[0].each do |video|
          %li
            %a{:href => "/video/#{video[4]}"}
              %img{:src => "/images/video/ep#{video[0]}.png"}/
            %h4
              %a{:href => "/video/#{video[4]}"}= video[3]
            %p.description
              %strong Length:
              = video[5]
