<div class='man-page'>
  <div id="header">
    <h1><%= name %> Manual Page</h1>
    <% if !header.nil? %>
      <h2><%= header.name %></h2>
      <div class="sectionbody"><%= header.content %></div>
    <% elsif !preamble.nil? %>
      <div class="preamble">
        <div class="sectionbody">
          <%= preamble.content %>
        </div>
      </div>
    <% end %>
  </div>

  <%= content %>
</div>
