<div class="sect<%= level %>">
  <% if !anchor.nil? %>
    <a name='<%= anchor %>'></a>
  <% end %>
  <h<%= level + 1 %> id="<%= section_id %>"><%= name %></h<%= level + 1 %>>
  <% if level == 1 %>
    <div class="sectionbody"><%= content %></div>
  <% else %>
    <%= content %>
  <% end %>
</div>
