<% if !anchor.nil? %>
  <a name="<%= anchor %>">
<% end %>
<div class="sect<%= level %>">
  <h<%= level + 1 %> id="<%= section_id %>"><%= name %></h<%= level + 1 %>>
  <% if !anchor.nil? %>
    </a>
  <% end %>
  <% if level == 1 %>
    <div class="sectionbody"><%= content %></div>
  <% else %>
    <%= content %>
  <% end %>
</div>
