<div class="sect<%= level %>">
  <h<%= level + 1 %> id="<%= id %>"><%= name %></h<%= level + 1 %>>
  <% if level == 1 %>
    <div class="sectionbody"><%= content %></div>
  <% else %>
    <%= content %>
  <% end %>
</div>
