<% if !anchor.nil? %>
  <a name="#<%= anchor %>">
<% end %>
<h<%= level %> id="<%= section_id %>"><%= name %></h<%= level%>>
<% if !anchor.nil? %>
  </a>
<% end %>
<div class="sectionbody"><%= content %></div>
