%p
  <img src="/images/404.png" alt="404" />

%h1 That page doesn't exist.

%p
  We recently redesigned the site and older URLs may now lead to missing pages. We apologize for the inconvience.

%nav
  %ul
    %li= link_to "Home", "/"
    %li= link_to "About", "/about"
    %li= link_to "Documentation", "/documentation"
    %li= link_to "Downloads", "/downloads"
    %li= link_to "Community", "/community"

