%p
  <img src="/images/404@2x.png" alt="404" width="456" height="149" />

%h1 #{t(".page_does_not_exist")}

%p
  #{t(".recent_redesign_notice")}

%nav
  %ul
    %li= link_to t("common.home"), "/"
    %li= link_to t("common.about"), "/about"
    %li= link_to t("common.documentation"), "/documentation"
    %li= link_to t("common.downloads"), "/downloads"
    %li= link_to t("common.community"), "/community"

