%p
  <img src="/images/500@2x.png" alt="500" width="456" height="149" />

%h1 Internal server error

%p
  There was an error processing your request. We have been notified of the error and will investigate ASAP. We apologize for the inconvenience.

%nav
  %ul
    %li= link_to "Home", "/"
    %li= link_to "About", "/about"
    %li= link_to "Documentation", "/documentation"
    %li= link_to "Downloads", "/downloads"
    %li= link_to "Community", "/community"

