<div id="front-content">
  <section id="front-navigation">
    <nav id="front-nav">
      <ul>
        <li id="nav-about">
          <%= link_to about_path do %>
            <img src="/images/icons/nav-about@2x.png" width="74" height="74" />
            <h3>About</h3>
            <p>The advantages of Git compared to other source control systems.</p>
          <% end %>
        </li>
        <li id="nav-documentation">
          <%= link_to doc_path do %>
            <img src="/images/icons/nav-documentation@2x.png" width="74" height="74" />
            <h3>Documentation</h3>
            <p>Command reference pages, Pro Git book content, videos and other material.</p>
          <% end %>
        </li>
        <li id="nav-downloads">
          <%= link_to downloads_path do %>
            <img src="/images/icons/nav-downloads@2x.png" width="74" height="74" />
            <h3>Downloads</h3>
            <p>GUI clients and binary releases for all major platforms.</p>
          <% end %>
        </li>
        <li id="nav-community">
          <%= link_to community_path do %>
            <img src="/images/icons/nav-community@2x.png" width="74" height="74" />
            <h3>Community</h3>
            <p>Get involved! Bug reporting, mailing list, chat, development and more.</p>
          <% end %>
        </li>
      </ul>
    </nav>
    <div id="front-book">
      <img src="/images/progit2.png" width="56" height="74" />
      <p>
        <strong><a href="/book">Pro Git</a></strong>
        by Scott Chacon and Ben Straub is available to
        <a href="/book">read online for free</a>.
        Dead tree versions are available on <a href="http://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>.
      </p>
    </div>
  </section>
  <section id="front-downloads">
    <%= partial 'shared/monitor' %>
    <table>
      <tr>
        <td nowrap="true"><%= link_to "Graphical UIs", "/downloads/guis", class: 'icon gui', id: 'gui-link' %></td>
        <td nowrap="true"><%= link_to "Tarballs", "https://www.kernel.org/pub/software/scm/git/", class: 'icon older-releases' %></td>
      </tr>
      <tr>
        <td nowrap="true"><%= link_to "Windows Build", "/download/win", class: 'icon windows', id: 'alt-link' %></td>
        <td nowrap="true"><%= link_to "Source Code", "https://github.com/git/git", class: 'icon source' %></td>
      </tr>
    </table>
</section>
</div>

<section id="companies-projects">
  <h3> Companies &amp; Projects Using Git </h3>
  <ul>
    <li><%= link_to "Google", "https://github.com/google", class: 'google' %></li>
    <li><%= link_to "Facebook", "https://github.com/facebook", class: 'facebook' %></li>
    <li><%= link_to "Microsoft", "https://github.com/Microsoft", class: 'microsoft' %></li>
    <li><%= link_to "Twitter", "https://github.com/twitter", class: 'twitter' %></li>
    <li><%= link_to "LinkedIn", "https://github.com/linkedin", class: 'linked-in' %></li>
    <li><%= link_to "Netflix", "https://github.com/netflix", class: 'netflix' %></li>
    <li><%= link_to "Perl", "http://perl5.git.perl.org/perl.git", class: 'perl' %></li>
    <li><%= link_to "PostgreSQL", "http://git.postgresql.org/gitweb/", class: 'postgresql' %></li>

    <li><%= link_to "Android", "https://android-review.googlesource.com/#/q/status:open,n,z", class: 'android' %></li>
    <li><%= link_to "Linux", "https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git", class: 'linux' %></li>
    <li><%= link_to "Ruby on Rails", "https://github.com/rails/rails", class: 'rails' %></li>
    <li><%= link_to "Qt", "http://code.qt.io/cgit/", class: 'qt' %></li>
    <li><%= link_to "Gnome", "http://git.gnome.org/browse/", class: 'gnome' %></li>
    <li><%= link_to "Eclipse", "http://git.eclipse.org/c/", class: 'eclipse' %></li>
    <li><%= link_to "KDE", "http://quickgit.kde.org/", class: 'kde' %></li>
    <li><%= link_to "X", "http://cgit.freedesktop.org/xorg/xserver/", class: 'x' %></li>
</ul>
</section>
