- @section = "home"
- @subsection = ""

%div#front-content
  %section#front-navigation
    %nav#front-nav
      %ul
        %li#nav-about
          <a href="/about">
          <img src="/images/icons/nav-about.png" />
          <h3>About</h3>
          <p>The advantages of Git compared to other source control systems.</p>
          </a>
        %li#nav-documentation
          <a href="/documentation">
          <img src="/images/icons/nav-documentation.png" />
          <h3>Documentation</h3>
          <p>Command reference pages, Pro Git book content, videos and other material.</p>
          </a>  
        %li#nav-downloads
          <a href="/downloads">
          <img src="/images/icons/nav-downloads.png" />
          <h3>Downloads</h3>
          <p>GUI clients and binary releases for all major platforms.</p>
          </a>
        %li#nav-community
          <a href="/community">
          <img src="/images/icons/nav-community.png" />
          <h3>Community</h3>
          <p>Get involved! Mailing list, chat, development and more.</p> </a>

    %div#front-book
      <img src="/images/pro-git-56x74.jpg" />
      %p
        <strong><a href="/book">Pro Git</a></strong> 
        by Scott Chacon is available to 
        <a href="/book">read online for free</a>. 
        Dead tree versions are available on <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339">Amazon.com</a>.

  %section#front-downloads
    = partial 'shared/monitor'

    %table
      %tr
        %td{:nowrap => true}= link_to "Graphical UIs", "/downloads/guis", {:class => 'icon gui', :id => 'gui-link'}
        %td{:nowrap => true}= link_to "Tarballs", "http://code.google.com/p/git-core/downloads/list", {:class => 'icon older-releases'}
      %tr
        %td{:nowrap => true}= link_to "Windows Build", "/download/win", {:class => 'icon windows', :id => 'alt-link'}
        %td{:nowrap => true}= link_to "Source Code", "https://github.com/git/git", {:class => 'icon source'}


%section#companies-projects
  %h3 Companies &amp; Projects Using Git

  %ul
    %li= link_to "Google", "https://github.com/google", {:class => 'google'}
    %li= link_to "Facebook", "https://github.com/facebook", {:class => 'facebook'}
    %li= link_to "Microsoft", "http://aspnetwebstack.codeplex.com", {:class => 'microsoft'}
    %li= link_to "Twitter", "https://github.com/twitter", {:class => 'twitter'}
    %li= link_to "LinkedIn", "https://github.com/linkedin", {:class => 'linked-in'}
    %li= link_to "Netflix", "https://github.com/netflix", {:class => 'netflix'}
    %li= link_to "Perl", "http://perl5.git.perl.org/perl.git", {:class => 'perl'}
    %li= link_to "PostgreSQL", "http://git.postgresql.org/gitweb/", {:class => 'postgresql'}

    %li= link_to "Android", "https://android-review.googlesource.com/#/q/status:open,n,z", {:class => 'android'}
    %li= link_to "Linux", "http://git.kernel.org/?p=linux/kernel/git/torvalds/linux-2.6.git;a=summary", {:class => 'linux'}
    %li= link_to "Ruby on Rails", "https://github.com/rails/rails", {:class => 'rails'}
    %li= link_to "Qt", "http://qt.gitorious.org/", {:class => 'qt'}
    %li= link_to "Gnome", "http://git.gnome.org/browse/", {:class => 'gnome'}
    %li= link_to "Eclipse", "http://git.eclipse.org/c/", {:class => 'eclipse'}
    %li= link_to "KDE", "http://quickgit.kde.org/", {:class => 'kde'}
    %li= link_to "X", "http://www.x.org/wiki/Development/BuildingX?action=show&redirect=Development%2Fgit", {:class => 'x'}
