- @section = "home"
- @subsection = ""

%div#front-content
  %section#front-navigation
    %nav#front-nav
      %ul
        %li#nav-about
          <a href="/about">
          <img src="/images/icons/nav-about.png" />
          <h3>About</h3>
          <p>A technical overview of how Git works.</p>
          </a>
        %li#nav-documentation
          <a href="/documentation">
          <img src="/images/icons/nav-documentation.png" />
          <h3>Documentation</h3>
          <p>Man pages, Pro Git book content, and other reference material.</p>
          </a>  
        %li#nav-downloads
          <a href="/downloads">
          <img src="/images/icons/nav-downloads.png" />
          <h3>Downloads</h3>
          <p>GUI clients and binary releases for all major platforms.</p>
          </a>
        %li#nav-community
          <a href="/community">
          <img src="/images/icons/nav-community.png" />
          <h3>Community</h3>
          <p>Mailing list, IRC, and more.</p> </a>

    %div#front-book
      <img src="/images/pro-git-56x74.jpg" />
      %p
        <strong><a href="#">Pro Git</a></strong> by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

  %section#front-downloads
    = partial 'shared/monitor'

    %table
      %tr
        %td= link_to "Mac GUI Clients", "#", {:class => 'icon gui'}
        %td= link_to "Older Releases", "#", {:class => 'icon older-releases'}
      %tr
        %td= link_to "Windows Build", "#", {:class => 'icon windows'}
        %td= link_to "Source Code", "#", {:class => 'icon source'}


%section#companies-projects
  %h3 Companies &amp; Projects Using Git

  %ul
    %li= link_to "Facebook", "#", {:class => 'facebook'}
    %li= link_to "Google", "#", {:class => 'google'}
    %li= link_to "Twitter", "#", {:class => 'twitter'}
    %li= link_to "Microsoft", "#", {:class => 'microsoft'}
    %li= link_to "LinkedIn", "#", {:class => 'linked-in'}
    %li= link_to "Linux", "#", {:class => 'linux'}
    %li= link_to "Perl", "#", {:class => 'perl'}
    %li= link_to "PostgreSQL", "#", {:class => 'postgresql'}

    %li= link_to "Android", "#", {:class => 'android'}
    %li= link_to "Debian", "#", {:class => 'debian'}
    %li= link_to "Ruby on Rails", "#", {:class => 'rails'}
    %li= link_to "Qt", "#", {:class => 'qt'}
    %li= link_to "Gnome", "#", {:class => 'gnome'}
    %li= link_to "Eclipse", "#", {:class => 'eclipse'}
    %li= link_to "KDE", "#", {:class => 'kde'}
    %li= link_to "X", "#", {:class => 'x'}
