- @section = "search"
- @subsection = ""

- content_for :sidebar do
  %h4 Related StackOverflow Questions

  %ul.stackoverflow
    %li
      =link_to "About Git's merge and rebase"
      %span
        <strong>5</strong> votes <em>/</em> <strong>3</strong> Answers
    %li
      =link_to "git rebase vs git merge"
      %span
        <strong>81</strong> votes <em>/</em> <strong>5</strong> Answers
    %li
      =link_to "How to do a rebase with git gui?"
      %span
        <strong>5</strong> votes <em>/</em> <strong>3</strong> Answers
    %li
      =link_to "recovering from git rebase"
      %span
        <strong>27</strong> votes <em>/</em> <strong>15</strong> Answers
    %li
      =link_to "git pull VS git fetch git rebase"
      %span
        <strong>15</strong> votes <em>/</em> <strong>3</strong> Answers
    %li
      =link_to "Undoing a git rebase"
      %span
        <strong>160</strong> votes <em>/</em> <strong>7</strong> Answers
    %li
      =link_to "How to know if there is a git rebase in progress?"
      %span
        <strong>16</strong> votes <em>/</em> <strong>7</strong> Answers

%div#main
  %h1 Search results for <strong>rebase</strong>

  %div.callout.top-matches
    %ol.full-search-results
      %li
        %h3= link_to "git-rebase(1) Manual Page"
        =link_to "http://git-scm.com/documentation/reference/rebase", "#", {:class => 'url'}
        %p
          Forward-port local commits to the updated upstream head 

      %li
        %h3= link_to "Chapter 3.6: Rebasing"
        =link_to "http://git-scm.com/documentation/book/chapter3", "#", {:class => 'url'}
        %p
          In Git, there are two main ways to integrate changes from one branch into another: the merge and the rebase. In this section you’ll learn what rebasing is, how to do it, why it’s a pretty amazing tool, and in what cases you won’t want to use it.


  %ol.full-search-results
    %li
      <span class="relevancy">
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      </span>
      %h3= link_to "Name of the page mentioning rebase"
      =link_to "http://git-scm.com/some/path/to/page", "#", {:class => 'url'}
      %p
        \...consectetur adipisicing elit, sed do eiusmod
        tempor <span class="highlight">rebase</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...

    %li
      <span class="relevancy">
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      </span>
      %h3= link_to "Name of the page mentioning rebase and having a really long title so that we can check line breaking"
      =link_to "http://git-scm.com/some/path/to/page", "#", {:class => 'url'}
      %p
        \...consectetur adipisicing elit, sed do eiusmod
        tempor <span class="highlight">rebase</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...

    %li
      <span class="relevancy">
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      </span>
      %h3= link_to "Name of the page mentioning rebase"
      =link_to "http://git-scm.com/some/path/to/page", "#", {:class => 'url'}
      %p
        \...consectetur adipisicing elit, sed do eiusmod
        tempor <span class="highlight">rebase</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
        
    %li
      <span class="relevancy">
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      </span>
      %h3= link_to "Name of the page mentioning rebase"
      =link_to "http://git-scm.com/some/path/to/page", "#", {:class => 'url'}
      %p
        \...consectetur adipisicing elit, sed do eiusmod
        tempor <span class="highlight">rebase</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...

    %li
      <span class="relevancy">
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      </span>
      %h3= link_to "Name of the page mentioning rebase"
      =link_to "http://git-scm.com/some/path/to/page", "#", {:class => 'url'}
      %p
        \...consectetur adipisicing elit, sed do eiusmod
        tempor <span class="highlight">rebase</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
        
    %li
      <span class="relevancy">
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/green-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      <img src="/images/icons/grey-dot.png" />
      </span>
      %h3= link_to "Name of the page mentioning rebase"
      =link_to "http://git-scm.com/some/path/to/page", "#", {:class => 'url'}
      %p
        \...consectetur adipisicing elit, sed do eiusmod
        tempor <span class="highlight">rebase</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
