- @section = "search"
- @subsection = ""
- @page_title = "Search results for #{h(@term)}"

- content_for :sidebar do
  = render 'shared/related'

%div#main
  %h1=raw "Search results for <strong>#{h(@term)}</strong>"

  - if @top.size > 0
    %div.callout.top-matches
      %ol.full-search-results
        - @top.each do |hit| 
          %li
            %h3= link_to hit[:name], hit[:url]
            =link_to hit[:url], hit[:url], {:class => 'url'}
            %p=raw highlight_no_html(hit[:highlight])

  - if @rest.size > 0
    %ol.full-search-results
      - @rest.each do |hit| 
        %li
          %span.relevancy
            - total = (hit[:score] * 10).ceil
            - rest  = 10 - total
            - rest.times do
              %img{:src=>"/images/icons/grey-dot.png"}
            - total.times do
              %img{:src=>"/images/icons/green-dot.png"}
          %h3= link_to hit[:name], hit[:url]
          =link_to hit[:url], hit[:url], {:class => 'url'}
          %p=raw highlight_no_html(hit[:highlight])

  - if @rest.size + @top.size == 0
    %h2 Sorry, no search matches

