<div id="main">
  <h1 id="sfc"><%= t(".git_and_sfc") %></h1>

  <p><%= t(".p1_html") %>

  <h2 class="section-start"><%= t(".donation") %></h2>

  <p><%= t(".p2_html") %>

  <h3 class="title">Paypal</h3>
  <p><%= t(".to_donate_via_paypal") %>
  <div class="center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="GXTE9AECX4LAL">
      <input type="image"
             src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"
             border="0" name="submit"
             alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" height="1" width="1"
           src="https://www.paypal.com/en_US/i/scr/pixel.gif">
    </form>
  </div>

  <h3 class="title"><%= t(".check_or_wire") %></h3>
  <p><%= t(".p3_html") %>

  <p><%= t(".p4_html") %>

  <p><%= t(".p5_html") %>

</div>
