<% @section    = 'documentation' %>
<% @subsection = 'reference' %>

<style>
  table.ccmd td { border: 1px; padding-left: 2em; padding-right: 2em; }
  table.ccmd    { width: 99%; border: 1px solid #000; margin-bottom: 15px; }
  table.ccmd, code.g { font-family: monospace; }
  table.ccmd td.g    { width: 33%; }
  table.ccmd td.g, code.g { font-weight: bold; }
  table.ccmd td.g         { background: #e9e8e1; color: #444; }
</style>

<div id='main' class="book">
  <h1><%= t(".git_svn_crash_course") %></h1>

  <p><%= t(".intro_p1_html") %></p>

  <div class="doc-toc">
    <ul>
      <li><a href="#read"><%= t(".how_to_read_me") %></a></li>
      <li><a href="#know"><%= t(".things_to_know") %></a></li>
      <li><a href="#commit"><%= t(".committing") %></a></li>
      <li><a href="#browse"><%= t(".browsing") %></a></li>
      <li><a href="#branch"><%= t(".tagging_and_branching") %></a></li>
      <li><a href="#merge"><%= t(".merging") %></a></li>
      <li><a href="#remote"><%= t(".going_remote") %></a></li>
      <li><a href="#share"><%= t(".sharing_the_work") %></a></li>
    </ul>
  </div>

  <div style="text-align:center;"><table class="relnotes" style="margin-left: auto; margin-right: auto; border: 1px">
  <tr><td style="text-align:center;">
  <p style="margin: 0em 0.4em"><%= t(".quick_start_p1") %></p>
  <p/>
  <table class="ccmd" style="margin:0em; margin-left: auto; margin-right: auto;"><tr>
      <td class="g">git clone <em>url</em><br />git pull</td>

      <td>svn&nbsp;checkout&nbsp;<em>url</em><br />svn update</td>
  </tr></table>
  </td></tr>
  </table></div>


  <hr />

  <h2 id="read"><%= t(".how_to_read_me") %></h2>

  <p><%= t(".how_to_read_me_p1") %></p>

  <p><%= t(".how_to_read_me_p2") %></p>


  <h2 id="know"><%= t(".things_you_should_know") %></h2>

  <p><%= t(".things_to_know_p1") %></p>

  <ul>

  <li>

  <b><%= t(".repositories") %></b>
    <%= t(".repositories_brief_html") %>
  </li>

  <li>
  <b><%= t(".url") %></b>
    <%= t(".url_brief_html") %>
  </li>

  <li>
  <b><%= t(".revisions") %></b>
    <%= t(".revisions_brief_html") %>
  </li>

  <li>
  <b><%= t(".commits") %></b>
    <%= t(".commits_brief_html") %>


  <pre>
  git config --global user.name "<%= t(".your_name_here") %>"
  git config --global user.email <%= t(".fake_email") %>
  </pre>
  </li>

  <li>
  <b><%= t(".commands") %></b>
  <%= t(".commands_brief_html") %>
  </li>

  <li>

  <b><%= t(".colors") %></b>
  <%= t(".colors_brief") %>

  <pre>
  git config --global color.diff auto
  git config --global color.status auto
  git config --global color.branch auto
  </pre>
  </li>

  <li>
  <b>Visualize.</b>
    <%= t(".visualize_brief_html") %>
  </li>

  </ul>

  <h2 id="commit"><%= t(".committing") %></h2>

  <p><%= t(".committing_p1_html") %></p>

  <table class="ccmd">
    <tr><td class="g">git init<br/>git add .<br/>git commit</td>

  <td>svnadmin create <em>repo</em><br/>svn import <em>file://repo</em></td></tr></table>

  <p><%= t(".committing_p2_html") %></p>

  <p><%= t(".committing_p3_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git diff</td>
      <td>svn diff | less</td>
  </tr></table>

  <p><%= t(".committing_p4_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git diff <em>rev</em> <em>path</em></td>
      <td>svn diff -r<em>rev</em> <em>path</em></td>
  </tr></table>

  <p><%= t(".committing_p5_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git apply</td>
      <td>patch -p0</td>
  </tr></table>

  <p><%= t(".committing_p6_html") %></p>

  <p><%= t(".committing_p7_html") %></p>

  <table class="ccmd"><tr>

      <td class="g">git status</td>
      <td>svn status</td>
  </tr></table>

  <p><%= t(".committing_p8_html") %></p>

  <p><%= t(".committing_p9_html") %></p>

  <p><%= t(".committing_p10_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git checkout <em>path</em></td>
      <td>svn revert <em>path</em></td>
  </tr></table>

  <p><%= t(".committing_p11_html") %></p>

  <p><%= t(".committing_p12_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git add <em>file</em>
        <br />git rm <em>file</em>

        <br />git mv <em>file</em></td>
  <td>svn add <em>file</em><br />svn rm <em>file</em><br />svn mv <em>file</em></td></tr></table>

  <p><%= t(".committing_p13_html") %></p>

  <p><%= t(".committing_p14_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git commit -a</td>
      <td>svn commit</td>
  </tr></table>

  <p><%= t(".committing_p15_html") %></p>

  <p><%= t(".committing_p16_html") %></p>

  <p><%= t(".committing_p17_html") %></p>

  <p><%= t(".committing_p18_html") %></p>

  <h2 id="browse"><%= t(".browsing") %></h2>

  <p><%= t(".browsing_p1_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git log<br />git blame <em>file</em></td>
      <td>svn log | less<br />svn blame <em>file</em></td>
  </tr></table>

  <p><%= t(".browsing_p2_html") %></p>

  <p><%= t(".browsing_p3_html") %></p>

  <p><%= t(".browsing_p4_html") %></p>

  <table class="ccmd"><tr>

      <td class="g">git show <em>rev</em>:<em>path/to/file</em>
        <br />git&nbsp;show&nbsp;<em>rev</em>:<em>path/to/directory</em>
        <br />git show <em>rev</em></td>

      <td>svn cat <em>url</em>
        <br />svn list <em>url</em>
        <br />svn log -r<em>rev</em> <em>url</em>
        <br />svn diff -c<em>rev</em> <em>url</em></td>

  </tr></table>

  <h2 id="branch"><%= t(".tagging_and_branching") %></h2>

  <p><%= t(".branching_p1_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git tag -a <em>name</em></td>
      <td>svn copy http://example.com/svn/trunk
      http://example.com/svn/tags/<em>name</em></td>

  </tr></table>

  <p><%= t(".branching_p2_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git tag -l<br />git show <em>tag</em></td>
      <td>svn&nbsp;list&nbsp;http://example.com/svn/<em>tags/</em>

      <br />svn&nbsp;log --limit&nbsp;1&nbsp;http://example.com/svn/tags/<em>tag</em></td>
  </tr></table>

  <p><%= t(".branching_p3_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git branch <em>branch</em>

        <br />git&nbsp;checkout&nbsp;<em>branch</em></td>
      <td>svn copy http://example.com/svn/trunk
        http://example.com/svn/branches/<em>branch</em>
        <br />svn switch
        http://example.com/svn/branches/<em>branch</em></td>
  </tr></table>

  <p><%= t(".branching_p4_html") %></p>

  <p><%= t(".branching_p5_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git branch</td>
      <td>svn list http://example.com/svn/branches/</td>
  </tr></table>

  <p><%= t(".branching_p6_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git checkout <em>rev</em>
        <br />git checkout <em>prevbranch</em></td>
      <td>svn update -r <em>rev</em><br />svn update</td>
  </tr></table>

  <p><%= t(".branching_p7_html") %></p>

  <h2 id="merge"><%= t(".merging") %></h2>

  <p><%= t(".merging_p1_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git merge <em>branch</em></td>
      <td>
        svn merge -r 20:HEAD
        http://example.com/svn/branches/<em>branch</em>
        <br /><em><%= t(".merging_ccmd_note") %></em>
      </td>

  </tr></table>

  <p><%= t(".merging_p2_html") %></p>

  <p><%= t(".merging_p3_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git cherry-pick <em>rev</em></td>

      <td>svn merge -c <em>rev</em> <em>url</em></td>
  </tr></table>

  <h2 id="remote"><%= t(".going_remote") %></h2>

  <p><%= t(".remote_p1_html") %></p>

  <p><%= t(".remote_p2_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git clone <em>url</em></td>
      <td>svn&nbsp;checkout&nbsp;<em>url</em></td>
  </tr></table>

  <p><%= t(".remote_p3_html") %></p>

  <p><%= t(".remote_p4_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">
        git checkout -b <em>branch</em> origin/<em>branch</em></td>

      <td>svn&nbsp;switch&nbsp;<em>url</em></td></tr></table>

  <p></p>

  <p><%= t(".remote_p6_html") %></p>

  <p><%= t(".remote_p7_html") %></p>

  <table class="ccmd"><tr>
      <td class="g">git pull</td>
      <td>svn update</td>
  </tr></table>

  <h2 id="share"><%= t(".sharing_the_work") %></h2>

  <p><%= t(".sharing_p1_html") %></p>

  <p><%= t(".sharing_p2_html") %></p>

  <p><%= t(".sharing_p3_html") %></p>

  <p><%= t(".sharing_p4_html") %></p>

  <p><%= t(".sharing_p5_html") %></p>
</div>
