<h3 class='admin'>Administration</h3>
<ul class='unstyled'>
  <li><%= man('git-clean') %></li>
  <li><%= man('git-gc') %></li>
  <li><%= man('git-fsck') %></li>
  <li><%= man('git-reflog') %></li>
  <li><%= man('git-filter-branch') %></li>
  <li><%= man('git-instaweb') %></li>
  <li><%= man('git-archive') %></li>
  <li><%= man('git-bundle') %></li>
</ul>
