%h3.branching Branching and Merging
%ul.unstyled
  %li= man('git-branch')
  %li= man('git-checkout')
  %li= man('git-merge')
  %li= man('git-mergetool')
  %li= man('git-log')
  %li= man('git-stash')
  %li= man('git-tag')
