<h3 class='branching'>Branching and Merging</h3>
<ul class='unstyled'>
  <li><%= man('git-branch') %></li>
  <li><%= man('git-checkout') %></li>
  <li><%= man('git-switch') %></li>
  <li><%= man('git-merge') %></li>
  <li><%= man('git-mergetool') %></li>
  <li><%= man('git-log') %></li>
  <li><%= man('git-stash') %></li>
  <li><%= man('git-tag') %></li>
  <li><%= man('git-worktree') %></li>
</ul>
