<h3 class='guides'>Guides</h3>
<ul class='unstyled'>
  <li><%= man('gitattributes') %></li>
  <li><%= man('giteveryday') %></li>
  <li><%= man('gitglossary') %></li>
  <li><%= man('gitignore') %></li>
  <li><%= man('gitmodules') %></li>
  <li><%= man('gitrevisions') %></li>
  <li><%= man('gittutorial') %></li>
  <li><%= man('gitworkflows') %></li>
</ul>
