<<<<<<< HEAD
<h3 class='guides'>Guides</h3>
<ul class='unstyled'>
  <li><%= man('gitattributes') %></li>
  <li><%= man('gitcli', 'Command-line interface conventions') %></li>
  <li><%= man('giteveryday', 'Everyday Git') %></li>
  <li><%= man('gitfaq', 'Frequently Asked Questions (FAQ)') %></li>
  <li><%= man('gitglossary', 'Glossary') %></li>
  <li><%= man('githooks') %></li>
  <li><%= man('gitignore') %></li>
  <li><%= man('gitmodules') %></li>
  <li><%= man('gitrevisions', 'Revisions') %></li>
  <li><%= man('gitsubmodules', 'Submodules') %></li>
  <li><%= man('gittutorial', 'Tutorial') %></li>
  <li><%= man('gitworkflows', 'Workflows') %></li>
=======
<h3 class="f5 fw6">Guides</h3>
<ul class="list pl0">
  <li><%= man("gitattributes", :class => "link hover-u blue") %></li>
  <li><%= man("giteveryday", :text => "Everyday Git", :class => "link hover-u blue") %></li>
  <li><%= man("gitglossary", :text => "Glossary", :class => "link hover-u blue") %></li>
  <li><%= man('githooks', :class => "link hover-u blue") %></li>
  <li><%= man("gitignore", :class => "link hover-u blue") %></li>
  <li><%= man("gitmodules", :class => "link hover-u blue") %></li>
  <li><%= man("gitrevisions", :text => "Revisions", :class => "link hover-u blue") %></li>
  <li><%= man("gittutorial", :text => "Tutorial", :class => "link hover-u blue") %></li>
  <li><%= man("gitworkflows", :text => "Workflows", :class => "link hover-u blue") %></li>
>>>>>>> origin/v2
</ul>
