<h3 class="f5 fw6">Guides</h3>
<ul class="list pl0">
  <li><%= man("gitattributes", :class => "link hover-u blue") %></li>
  <li><%= man("giteveryday", :text => "Everyday Git", :class => "link hover-u blue") %></li>
  <li><%= man("gitglossary", :text => "Glossary", :class => "link hover-u blue") %></li>
  <li><%= man('githooks', :class => "link hover-u blue") %></li>
  <li><%= man("gitignore", :class => "link hover-u blue") %></li>
  <li><%= man("gitmodules", :class => "link hover-u blue") %></li>
  <li><%= man("gitrevisions", :text => "Revisions", :class => "link hover-u blue") %></li>
  <li><%= man("gittutorial", :text => "Tutorial", :class => "link hover-u blue") %></li>
  <li><%= man("gitworkflows", :text => "Workflows", :class => "link hover-u blue") %></li>
</ul>
