<h3 class='guides'>Guides</h3>
<ul class='unstyled'>
  <li><%= man('gitattributes') %></li>
  <li><%= man('giteveryday', 'Everyday Git') %></li>
  <li><%= man('gitglossary', 'Glossary') %></li>
  <li><%= man('gitignore') %></li>
  <li><%= man('gitmodules') %></li>
  <li><%= man('gitrevisions', 'Revisions') %></li>
  <li><%= man('gittutorial', 'Tutorial') %></li>
  <li><%= man('gitworkflows', 'Workflows') %></li>
</ul>
