<h3 class='guides'>Guides</h3>
<ul class='unstyled'>
  <li><%= man('gitattributes') %></li>
  <li><%= man('gitcli', 'Command-line interface conventions') %></li>
  <li><%= man('giteveryday', 'Everyday Git') %></li>
  <li><%= man('gitfaq', 'Frequently Asked Questions (FAQ)') %></li>
  <li><%= man('gitglossary', 'Glossary') %></li>
  <li><%= man('githooks', 'Hooks') %></li>
  <li><%= man('gitignore') %></li>
  <li><%= man('gitmodules') %></li>
  <li><%= man('gitrevisions', 'Revisions') %></li>
  <li><%= man('gitsubmodules', 'Submodules') %></li>
  <li><%= man('gittutorial', 'Tutorial') %></li>
  <li><%= man('gitworkflows', 'Workflows') %></li>
  <li><a href="/docs/git#_guides">All guides...</a></li>
</ul>
