<h3 class='guides'>Guides</h3>
<ul class='unstyled'>
  <li><%= man('git-attributes') %></li>
  <li><%= man('git-everyday') %></li>
  <li><%= man('git-glossary') %></li>
  <li><%= man('git-ignore') %></li>
  <li><%= man('git-modules') %></li>
  <li><%= man('git-revisions') %></li>
  <li><%= man('git-tutorial') %></li>
  <li><%= man('git-workflows') %></li>
</ul>
