<h3>Inspection and Comparison</h3>
<ul class='unstyled'>
  <li><%= man('git-show') %></li>
  <li><%= man('git-log') %></li>
  <li><%= man('git-diff') %></li>
  <li><%= man('git-shortlog') %></li>
  <li><%= man('git-describe') %></li>
</ul>
