<h3 class='patching'><%= t("shared.ref.patching") %></h3>
<ul class='unstyled'>
  <li><%= man('git-diff') %></li>
  <li><%= man('git-apply') %></li>
  <li><%= man('git-cherry-pick') %></li>
  <li><%= man('git-rebase') %></li>
</ul>
