<h3 class="f5 fw6">Patching</h3>
<ul class="list pl0">
  <li><%= man("git-apply", :class => "link hover-u blue") %></li>
  <li><%= man("git-cherry-pick", :class => "link hover-u blue") %></li>
  <li><%= man("git-diff", :class => "link hover-u blue") %></li>
  <li><%= man("git-rebase", :class => "link hover-u blue") %></li>
  <li><%= man("git-revert", :class => "link hover-u blue") %></li>
</ul>
