<h3 class='plumbing'>Plumbing Commands</h3>
<ul class='unstyled'>
  <li><%= man('git-cat-file') %></li>
  <li><%= man('git-check-ignore') %></li>
  <li><%= man('git-checkout-index') %></li>
  <li><%= man('git-commit-tree') %></li>
  <li><%= man('git-count-objects') %></li>
  <li><%= man('git-diff-index') %></li>
  <li><%= man('git-for-each-ref') %></li>
  <li><%= man('git-hash-object') %></li>
  <li><%= man('git-ls-files') %></li>
  <li><%= man('git-ls-tree') %></li>
  <li><%= man('git-merge-base') %></li>
  <li><%= man('git-read-tree') %></li>
  <li><%= man('git-rev-list') %></li>
  <li><%= man('git-rev-parse') %></li>
  <li><%= man('git-show-ref') %></li>
  <li><%= man('git-symbolic-ref') %></li>
  <li><%= man('git-update-index') %></li>
  <li><%= man('git-update-ref') %></li>
  <li><%= man('git-verify-pack') %></li>
  <li><%= man('git-write-tree') %></li>
</ul>
