%h3.plumbing Plumbing Commands
%ul.unstyled
  %li= man('git-cat-file')
  %li= man('git-commit-tree')
  %li= man('git-count-objects')
  %li= man('git-diff-index')
  %li= man('git-hash-object')
  %li= man('git-merge-base')
  %li= man('git-read-tree')
  %li= man('git-rev-list')
  %li= man('git-rev-parse')
  %li= man('git-show-ref')
  %li= man('git-symbolic-ref')
  %li= man('git-update-index')
  %li= man('git-update-ref')
  %li= man('git-verify-pack')
  %li= man('git-write-tree')
