<<<<<<< HEAD
<h3 class='setup'>Setup and Config</h3>
<ul class='unstyled'>
  <li><%= man('git') %></li>
  <li><%= man('git-config') %></li>
  <li><%= man('git-help') %></li>
  <li><%= man('git-bugreport') %></li>
=======
<h3 class="f5 fw6">Setup and config</h3>
<ul class="list pl0">
  <li><%= man("git", :class => "link hover-u blue") %></li>
  <li><%= man("git-config", :class => "link hover-u blue") %></li>
  <li><%= man("git-help", :class => "link hover-u blue") %></li>
>>>>>>> origin/v2
</ul>
