<h3 class='setup'>Setup and Config</h3>
<ul class='unstyled'>
  <li><%= man('git') %></li>
  <li><%= man('git-config') %></li>
  <li><%= man('git-help') %></li>
  <li><%= man('git-bugreport') %></li>
  <%= link_to "Credential helpers", "/doc/credential-helpers", sidebar_link_options("credential-helpers") %>
</ul>
