<h3 class="f6 fw6">Sharing and updating projects</h3>
<ul class="list pl0">
  <li><%= man("git-fetch", :class => "link hover-u blue f6") %></li>
  <li><%= man("git-pull", :class => "link hover-u blue f6") %></li>
  <li><%= man("git-push", :class => "link hover-u blue f6") %></li>
  <li><%= man("git-remote", :class => "link hover-u blue f6") %></li>
  <li><%= man("git-submodule", :class => "link hover-u blue f6") %></li>
</ul>
