<h3 class='sharing'>Sharing and Updating Projects</h3>
<ul class='unstyled'>
  <li><%= man('git-fetch') %></li>
  <li><%= man('git-pull') %></li>
  <li><%= man('git-push') %></li>
  <li><%= man('git-remote') %></li>
  <li><%= man('git-submodule') %></li>
</ul>
