%h3.snapshotting Basic Snapshotting
%ul.unstyled
  %li= man('git-add')
  %li= man('git-status')
  %li= man('git-diff')
  %li= man('git-commit')
  %li= man('git-reset')
  %li= man('git-rm')
  %li= man('git-mv')
