!!! XML
%rss{ :version => "2.0",
      :'xmlns:content' => "http://purl.org/rss/1.0/modules/content/",
      :'xmlns:atom' => "http://www.w3.org/2005/Atom" }
  %channel
    %title Git - Blog
    %link #{request.protocol}#{request.host_with_port}
    ~raw "<atom:link href='#{request.url}' rel='self' type='application/rss+xml' />"
    %description Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.

    -list_posts.each do |entry|
      -post = preview_post(entry[:file])
      %item
        %title #{entry[:title]}
        %guid #{format_path(entry)}
        %link #{format_path(entry)}
        -if post.last['author']
          %author #{post.last['author']}
        %pubDate #{entry[:date_published].rfc822}
        %description #{post.first}
