- @section    = 'blog'
- @newest = list_posts.first
- @newest_content = preview_post(@newest[:file])
- @page_title = "Git - #{@newest_content[1]['title']}"

-content_for :sidebar do
  = render 'list'

%div#main.book
  %h1 
    = @newest_content[1]['title']
    %small.subheader 
      = "by #{@newest_content[1]['author']}" unless @newest_content[1]['author'].nil?
  ~raw @newest_content[0]
