<ol class="list pl0">
  <li class="pb2">
    <%= link_to_unless_current("Branching and merging", "/about/branching-and-merging") %>
  </li>
  <li class="pv2">
    <%= link_to_unless_current("Small and fast", "/about/small-and-fast") %>
  </li>
  <li class="pv2">
    <%= link_to_unless_current("Distributed", "/about/distributed") %>
  </li>
  <li class="pv2">
    <%= link_to_unless_current("Data assurance", "/about/data-assurance") %>
  </li>
  <li class="pv2">
    <%= link_to_unless_current("Staging area", "/about/staging-area") %>
  </li>
  <li class="pv2">
    <%= link_to_unless_current("Free and open source", "/about/free-and-open-source") %>
  </li>
  <li class="pt2">
    <%= link_to_unless_current("Trademark", "/about/trademark") %>
  </li>
</ol>
