<section class="about current" id="branching-and-merging" style="display: block;">

  <h2><%= t(".branching_and_merging") %></h2>

  <p>
    <%= t(".p1") %>
  </p>

  <p>
    <%= t(".p2") %>
  </p>

  <p>
    <%= t(".p3") %>
  </p>

  <ul class="bullets">
    <li>
      <%= t(".ul_li1_html") %>
    </li>
    <li>
      <%= t(".ul_li2_html") %>
    </li>
    <li>
      <%= t(".ul_li3_html") %>
    </li>
    <li>
      <%= t(".ul_li4_html") %>
    </li>
  </ul>

  <p class="center">
    <img src="/images/about/branches@2x.png" width="500" height="288" alt="Branches">
  </p>

  <p>
    <%= t(".p4") %>
  </p>

  <p>
    <%= t(".p5") %>
  </p>

  <div class="bottom-nav" style="display: block;">
    <a href="#small-and-fast" class="next" data-section-id="small-and-fast"></a>
  </div>

</section>
