  <section class="about" id="info-assurance" style="display: none;">
    <h2><%= t(".data_assurance") %></h2>
    <p>
      <%= t(".p1_html") %>
    </p>
    <img height="522" src="/images/assurance@2x.png" width="628">
    <p>
      <%= t(".p2") %>
    </p>
    <p>
      <%= t(".p3") %>
    </p>
    <div class="bottom-nav" style="display: block;">
      <a href="#distributed" class="previous" data-section-id="distributed"><%= t(".distributed") %></a>
      <a href="#staging-area" class="next" data-section-id="staging-area"><%= t(".staging_area") %></a>
    </div>
  </section>
 
