  <section class="about" id="distributed" style="display: none;">
    
    <h2><%= t('.distributed') %></h2>
    
    <p>
      <%= t('.p1') %>
    </p>
    <h3><%= t('.multiple_backups') %></h3>
    <p>
    <%= t('.p2') %>
    </p>
    <h3><%= t('.any_workflow') %></h3>
    <p>
      <%= t('.p3') %>
    </p>
    <h4><%= t('.subversion_style') %></h4>
    <p>
      <%= t('.p4') %>
    </p>
    <p class="center">
    <img src="/images/about/workflow-a@2x.png" width="415" height="209" alt="<%= t('.img_alt_workflow_a') %>">
    </p>
    <h4><%= t('.subversion_style') %></h4>
    <p>
      <%= t('.p5') %>
    </p>
    <p class="center">
    <img src="/images/about/workflow-b@2x.png" width="407" height="164" alt="<%= t('.img_alt_workflow_b') %>">
    </p>
    <h4></h4>
    <p>
    <%= t('.p6') %>
    </p>
    <p class="center">
    <img src="/images/about/workflow-c@2x.png" width="562" height="303" alt="Workflow C">
    </p>
    <div class="bottom-nav" style="display: block;">
      <a href="#small-and-fast" class="previous" data-section-id="small-and-fast"><%= t('.small_and_fast') %></a>
      <a href="#info-assurance" class="next" data-section-id="info-assurance"><%= t('.data_assurance') %></a>
    </div>
  </section>
