  <section class="about" id="free-and-open-source" style="display: none;">
    <h2><%= t(".free_and_open_source") %></h2>
    <p>
      <%= t(".p1_html") %>
    </p>
    <p>
      <%= t(".p2_html") %>
    </p><ul class="bullets">
      <li><%= t(".ul1_li1") %></li>
      <li><%= t(".ul1_li2") %></li>
      <li><%= t(".ul1_li3") %></li>
      <li><%= t(".ul1_li4") %></li>
      <li><%= t(".ul1_li5") %></li>
    </ul>
    <p></p>
    <p>
      <%= t(".p3_html") %>
    </p><ul class="bullets">
      <li><%= t(".ul2_li1") %></li>
      <li><%= t(".ul2_li2") %></li>
      <li><%= t(".ul2_li3") %></li>
    </ul>
    <p></p>
    <div class="bottom-nav" style="display: block;">
      <a href="#staging-area" class="previous" data-section-id="staging-area"><%= t(".staging_area") %></a>
    </div>
  </section>
