 <section class="about" id="staging-area" style="display: none;">
    <h2><%= t(".staging_area") %></h2>
    <p>
    <%= t(".p1") %>
    </p>
    <p>
    <%= t(".p2") %>
    </p>
    <p class="center">
    <img src="/images/about/index1@2x.png" width="336" height="194" alt="<%= t(".img1_alt") %>">
    </p>
    <p>
    <%= t(".p3") %>
    </p>
    <p>
    <%= t(".p4") %>
    </p>
    <p class="center">
    <img src="/images/about/index2@2x.png" width="338" height="185" alt="<%= t(".img2_alt") %>">
    </p>
    <div class="bottom-nav" style="display: block;">
      <a href="#info-assurance" class="previous" data-section-id="info-assurance"><%= t(".data_assurance") %></a>
      <a href="#free-and-open-source" class="next" data-section-id="free-and-open-source"><%= t(".free_and_open_source") %></a>
    </div>
  </section>
