<div id="main">

  <h1>About</h1>

  <ol id="about-nav">
    <li>
      <a href="#branching-and-merging" class="three-line current" id="nav-branching-and-merging" data-section-id="branching-and-merging">Branching and Merging</a>
    </li>
    <li>
      <a href="#small-and-fast" class="two-line" id="nav-small-and-fast" data-section-id="small-and-fast">Small and Fast</a>
    </li>
    <li>
      <a href="#distributed" class="one-line" id="nav-distributed" data-section-id="distributed">Distributed</a>
    </li>
    <li>
      <a href="#info-assurance" class="two-line" id="nav-info-assurance" data-section-id="info-assurance">Data Assurance</a>
    </li>
    <li>
      <a href="#staging-area" class="two-line" id="nav-staging-area" data-section-id="staging-area">Staging Area</a>
    </li>
    <li>
      <a href="#free-and-open-source" class="three-line" id="nav-free-and-open-source" data-section-id="free-and-open-source">Free and Open Source</a>
    </li>
    <li>
      <a href="#trademark" class="one-line" id="nav-trademark" data-section-id="trademark">Trademark</a>
    </li>
  </ol>

  <%= render partial: "branching_and_merging" %>
  <%= render partial: "small_and_fast" %>
  <%= render partial: "distributed" %>
  <%= render partial: "data_assurance" %>
  <%= render partial: "staging_area" %>
  <%= render partial: "free_and_open_source" %>
  <%= render partial: "trademark" %>

</div>

<% content_for :sidebar do %>
  <%= render 'shared/book' %>
<% end %>
