!!! 5
%html{:lang => "en"}
  %head
    - if @page_title
      %title= @page_title
    - else
      %title libgit2
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag "libgit2.css"
    = javascript_include_tag "modernizr.js", "modernizr-tests.js"
    /[if (gte IE 6)&(lte IE 8)]
      %script{:src => "/javascripts/selectivizr-min.js", :type => "text/javascript"}
    = javascript_include_tag "http://use.typekit.com/jsq2fql.js"
    :javascript
      try{Typekit.load();}catch(e){}

  %body{:id => @section}
    %div.inner
      = partial 'shared/library/header'

    - if @section == 'home'
      %div.inner
        =yield
        = partial 'shared/footer'

    - else
      %div.inner
        %div#content-wrapper
          %aside.sidebar
            %nav
              %ul
                %li
                  = link_to "Usage Guide", "#", {:class => (@section == 'guide') ? 'active' : ''}
                %li
                  =link_to "Functions", "#", {:class => (@section == 'functions') ? 'active' : ''}
                  %ul{:class => (@section == 'functions') ? 'expanded' : ''}
                    - all_groups.each do |group|
                      %li= function_nav_link group.name, group.functions.length
                %li
                  = link_to "Types", "#", {:class => (@section == 'types') ? 'active' : ''}
                %li
                  = link_to "Files", "#", {:class => (@section == 'files') ? 'active' : ''}
                %li
                  = link_to "Examples", "#", {:class => (@section == 'examples') ? 'active' : ''}

          %div#content
            ~yield

        = partial 'shared/footer'
        = javascript_include_tag "sh_main.min.js", "sh_c.min.js", "sh_ruby.min.js"

        :javascript
          sh_highlightDocument()
